@model GStore.Models.PageTemplateSection
@if (Model == null)
{
	@:(no Page Template Section)
}
else
{
	bool isActiveDirect = Model.IsActiveDirect();
	bool isActiveBubble = Model.IsActiveBubble();
	string className = isActiveBubble ? string.Empty : "text-warning";
	<span class="@className" style="white-space:nowrap">
		@(Html.DisplayNameForModel()) '@(Html.DisplayFor(model => model.Name))' [@(Html.DisplayFor(model => model.PageTemplateSectionId))]
		@(isActiveDirect ? string.Empty : " [INACTIVE]")
	</span>
	<br />
	@(Html.DisplayFor(m => m.PageTemplate, "PageTemplateNoLinks"))
}
