@model GStore.Models.Page
@if (Model == null)
{
	@:(no page)
}
else
{
	bool isActiveDirect = Model.IsActiveDirect();
	bool isActiveBubble = Model.IsActiveBubble();
	string className = isActiveBubble ? string.Empty : "text-warning";
	<span class="@className" style="white-space:nowrap">
		@(Html.DisplayNameForModel()) [@(Html.DisplayFor(model => model.PageId))]
		@(Html.DisplayNameFor(model => model.Url)) '@(Html.DisplayFor(model => model.Url))'
		@(isActiveDirect ? string.Empty : " [INACTIVE]")
	</span>
	<br/>
	@(Html.DisplayFor(m => m.StoreFront, "StoreFrontNoLinks"))
	<br/>
	@(Html.DisplayFor(m => m.PageTemplate, "PageTemplateNoLinks"))
}
