@model GStore.Models.Page
@using GStore.Data
@if (Model == null)
{
	@:(no page)
}
else
{
	bool isActiveDirect = Model.IsActiveDirect();
	bool isActiveBubble = Model.IsActiveBubble();
	string className = isActiveBubble ? string.Empty : "text-warning";
	string viewLinkClass = isActiveBubble ? "text-success" : "text-warning";
	string inactiveText = isActiveBubble ? string.Empty : " [INACTIVE]";
	string linkText = "View " + (isActiveBubble ? string.Empty : "Inactive ") + "Page";

	<span class="@className" style="white-space:nowrap">
		@(Html.DisplayNameFor(model => model.Name)) [@(Html.DisplayFor(model => model.PageId))]
		@(Html.DisplayNameFor(model => model.Url)) '@(Html.DisplayFor(model => model.Url))'
		@(inactiveText)
	</span>
	@:&nbsp;
	@(Html.ActionLink(linkText, "Details", "PageSysAdmin", new { id = Model.PageId }, new { @class = viewLinkClass }))
	@: - @(Html.DisplayFor(m => m.StoreFront))
	@: - @(Html.DisplayFor(m => m.PageTemplate))
}
