@model GStore.Models.WebForm
@if (Model == null)
{
	@:(no Web Form)
}
else
{
	bool isActiveDirect = Model.IsActiveDirect();
	bool isActiveBubble = Model.IsActiveBubble();
	string className = isActiveBubble ? string.Empty : "text-warning";
	<span class="@className" style="white-space:nowrap">
		@(Html.DisplayNameForModel()) '@(Html.DisplayFor(model => model.Name))' [@(Html.DisplayFor(model => model.WebFormId))]
		@(isActiveDirect ? string.Empty : " [INACTIVE]")
	</span>
	<br/>
	@(Html.DisplayFor(m => m.Client, "ClientNoLinks"))
}
