@model GStore.Models.WebForm
@if (Model == null)
{
	@:(no Web Form)
}
else
{
	bool isActiveDirect = Model.IsActiveDirect();
	bool isActiveBubble = Model.IsActiveBubble();
	string className = isActiveBubble ? string.Empty : "text-warning";
	string viewLinkClass = isActiveBubble ? "text-success" : "text-warning";
	string inactiveText = isActiveBubble ? string.Empty : " [INACTIVE]";
	string linkText = "View " + (isActiveBubble ? string.Empty : "Inactive ") + "Web Form";

	<span class="@className" style="white-space:nowrap">
		@(Html.DisplayNameForModel()) '@(Html.DisplayFor(model => model.Name))' [@(Html.DisplayFor(model => model.WebFormId))]
		@(inactiveText)
	</span>
	@:&nbsp;
	@(Html.ActionLink(linkText, "Details", "WebFormSysAdmin", new { id = Model.WebFormId }, new { @class = viewLinkClass }))
	<br />
	@(Html.DisplayFor(m => m.Client))
}
