@using GStore.AppHtmlHelpers
@using GStore.Areas.StoreAdmin.Controllers.BaseClasses
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@{
		
		GStore.Models.StoreFront storeFront = Html.CurrentStoreFront(true);
		GStore.Models.Client client = Html.CurrentClient(true);
		GStore.Models.UserProfile userProfile = Html.CurrentUserProfile(true);
		
		string title = storeFront.Name + " Admin"
			+ " - " + this.ViewContext.RouteData.Values["controller"]
			+ " - " + this.ViewContext.RouteData.Values["action"];

		if (ViewBag.Title != null && (!string.IsNullOrWhiteSpace(ViewBag.Title)))
		{
			title = ViewBag.Title + " - " + title;
		}

		string metaApplicationName = "GStore Admin - " + storeFront.Name;
		string metaApplicationTileColor = "880088";
		string metaDescription = "GStore Store Front";
		string metaKeywords = "GStore Store Front";
		string bodyTopScriptTag = string.Empty;
		string bodyBottomScriptTag = string.Empty;

		string themeFolderName = Html.ThemeFolderName();
	}
	<title>@title</title>

	<meta name="application-name" content="@(metaApplicationName)" />
	<meta name="msapplication-TileColor" content="#@(metaApplicationTileColor)" />
	<meta name="msapplication-square70x70logo" content="~/Images/Logo/tiny.png" />
	<meta name="msapplication-square150x150logo" content="~/Images/Logo/square.png" />
	<meta name="msapplication-wide310x150logo" content="~/Images/Logo/wide.png" />
	<meta name="msapplication-square310x310logo" content="~/Images/Logo/large.png" />

	<link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="~/Images/favicon.ico" type="image/x-icon">
	<meta name="description" content="@(metaDescription)" />
	<meta name="keywords" content="@(metaKeywords)" />
	<link rel="apple-touch-icon" href="~/Images/Logo/Logo.png" />
	<link rel="apple-touch-startup-image" href="~/Images/Logo/Logo.png" />

	<script>
		var userName = @(Html.Raw((User.Identity.IsAuthenticated ? "'" + this.Ajax.JavaScriptStringEncode(User.Identity.Name) + "'": "null" )));
		var googleAnalyticsWebPropertyId = @(Html.GoogleAnalyticsWebPropertyIdValueJs(storeFront));
	</script>

	@Styles.Render("~/Themes/" + themeFolderName + "/Bootstrap.min.css")
	@Styles.Render("~/Styles/GStoreApp.css")
	@Styles.Render("~/Styles/Styles.css")

	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/bootstrap")
	<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
	<script src="~/signalr/hubs"></script>
	@Scripts.Render("~/Js/GStoreApp.js")
	@Scripts.Render("~/Js/Scripts.js")
</head>
<body>
	@{
		GStore.Areas.StoreAdmin.ViewModels.StoreAdminViewModel viewModel = new GStore.Areas.StoreAdmin.ViewModels.StoreAdminViewModel(Html.CurrentStoreFront(true), Html.CurrentUserProfile(true));

		@Html.Partial("_StoreAdminMenuPartial", viewModel)
		
		string classes = string.Empty;
		RouteData routeData = ViewContext.RouteData;
		if (routeData != null)
		{
			if (routeData.DataTokens.ContainsKey("area"))
			{
				classes += " area-" + routeData.DataTokens["area"].ToString().ToLower();
			}
			classes += " controller-" + routeData.Values["controller"].ToString().ToLower();
			classes += " action-" + routeData.Values["action"].ToString().ToLower();
		}

	}
	<div class="container body-content storeadmin storeadmin-body-content@(classes)">
		<!-- top alert container for dynamic alerts-->
		<div id="usermessagecontainer"></div>
		@RenderBody()
		<hr />
		<div id="usermessagebottomcontainer"></div>
		@Html.Partial("_FooterPartial")
	</div>

	@RenderSection("scripts", required: false)

	@Html.RenderUserMessages()
	@Html.RenderUserMessagesBottom()
	@Html.RenderAnnouncements()
	@Html.RenderGaEvents()
</body>


</html>
