@using GStore.AppHtmlHelpers;
@using GStore.Identity;
@using GStore.Models;
@using GStore.Data;

<ul class="nav navbar-nav">
	<!-- Dynamic Store Admin Menu -->
@if (Html.UserHasPermission(GStoreAction.Reports_StoreAdminMenuItem))
{
	<!-- Orders Menu Item -->
	<li class="dropdown AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Reports">Orders<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
			@if (Html.UserHasPermission(GStoreAction.Orders_Manager))
			{
				<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
					@Html.ActionLink("Order Manager", "Manager", "OrdersAdmin")
				</li>
				<li class="nav-divider"></li>
			}
			@if (Html.UserHasPermission(GStoreAction.Orders_Carts_ViewAbandoned))
			{
				<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
					@Html.ActionLink("View Abandoned Carts", "Carts_ViewAbandoned", "OrdersAdmin")
				</li>
			}
			@if (Html.UserHasPermission(GStoreAction.Orders_Carts_ViewCurrent))
			{
				<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
					@Html.ActionLink("View Current Carts", "", "OrdersAdmin")
				</li>
			}
			@if (Html.UserHasPermission(GStoreAction.Orders_Carts_TransferAbandonedCart))
			{
				<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
					@Html.ActionLink("Transfer An Abandoned Cart", "Carts_TransferAbandonedCart", "OrdersAdmin")
				</li>
			}
			@if (Html.UserHasPermission(GStoreAction.Orders_Carts_SendCheckOutLink))
			{
				<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
					@Html.ActionLink("Check Out an Abandoned Cart", "Carts_SendCheckOutLink", "OrdersAdmin")
				</li>
			}
		</ul>
	</li>
}
@if (Html.UserHasPermission(GStoreAction.Reports_StoreAdminMenuItem))
{
	<!-- Reports Menu Item -->
	<li class="dropdown AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Reports">Reports<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
	@if (Html.UserHasPermission(GStoreAction.Reports_Manager))
	{
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("Report Manager", "Manager", "ReportsAdmin")
			</li>
			<li class="nav-divider"></li>
	}
	@if (Html.UserHasPermission(GStoreAction.Reports_AbandonedCarts_View))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Abandoned Carts Report", "AbandonedCartsReport", "ReportsAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.Reports_MonthlySales_View))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Monthly Sales Report", "MonthlySalesReport", "ReportsAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.Reports_MonthlyVisitors_View))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Monthly Visitors Report", "MonthlyVisitorsReport", "ReportsAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.Reports_MonthlyPageViews_View))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Monthly Page Views Report", "MonthlyPageViewsReport", "ReportsAdmin")
			</li>
	}
		</ul>
	</li>
}
@if (Html.UserHasPermission(GStoreAction.UserProfile_StoreAdminMenuItem))
{
	<!-- User Profile Menu Item -->
	<li class="dropdown AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="User Manager">Users<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
	@if (Html.UserHasPermission(GStoreAction.UserProfile_Manager))
	{
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("User Manager", "Manager", "UserProfileAdmin")
			</li>
			<li class="nav-divider"></li>
	}
	@if (Html.UserHasPermission(GStoreAction.UserProfile_Account_CreateNew))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Register a New User", "Account_CreateNew", "UserProfileAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.UserProfile_Account_ResetPassword))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Reset a User Password", "Account_ResetPassword", "UserProfileAdmin")
			</li>
	}
	@if (Html.UserHasPermissionToAny(GStoreAction.UserProfile_Profile_View, GStoreAction.UserProfile_Profile_Edit))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("View/Edit a Profile", "Profile_View", "UserProfileAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.UserProfile_Profile_Deactivate))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Deactivate a User", "Profile_Deactivate", "UserProfileAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.UserProfile_Profile_Reactivate))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Reactivate a User", "Profile_Reactivate", "UserProfileAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.UserProfile_Notifications_View))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("View Notifications for a User", "Notifications_View", "UserProfileAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.UserProfile_Orders_View))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("View Order History", "Orders_View", "UserProfileAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.UserProfile_Roles_AssignUserRoles))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Assign User Roles", "Roles_AssignUserRoles", "UserProfileAdmin")
			</li>
	}
		</ul>
	</li>
}
@if (Html.UserHasPermission(GStoreAction.Pages_StoreAdminMenuItem))
{
	<!-- Pages Menu Item -->
	<li class="AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Pages">Pages<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
			@if (Html.UserHasPermission(GStoreAction.Pages_Manager))
			{
				<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
					@Html.ActionLink("Page Manager", "Manager", "PageAdmin")
				</li>
				<li class="nav-divider"></li>
			}
			@if (Html.UserHasPermission(GStoreAction.Pages_Create))
			{
				<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
					@Html.ActionLink("Create a Page", "Create", "PageAdmin")
				</li>
			}
		</ul>
	</li>
}
@if (Html.UserHasPermission(GStoreAction.Catalog_StoreAdminMenuItem))
{
	<!-- Catalog Menu Item -->
	<li class="AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Catalog">Catalog<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
	@if (Html.UserHasPermission(GStoreAction.Catalog_Manager))
	{
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("Catalog Manager", "Manager", "CatalogAdmin")
			</li>
			<li class="nav-divider"></li>
	}
	@if (Html.UserHasPermission(GStoreAction.Catalog_Categories_Manager))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Manage Categories", "Categories", "CatalogAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.Catalog_Products_Manager))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Manage Products", "Products", "CatalogAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.Catalog_Categories_Images_Manager))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Manage Category Images", "CategoryImages", "CatalogAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.Catalog_Products_Images_Manager))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Manage Product Images", "ProductImages", "CatalogAdmin")
			</li>
	}
		</ul>
	</li>
}
@if (Html.UserHasPermission(GStoreAction.ClientConfig_StoreAdminMenuItem))
{
	<!-- ClientConfig Menu Item -->
	<li class="AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Configuration">Configuration<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
	@if (Html.UserHasPermission(GStoreAction.ClientConfig_Manager))
	{
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("Configuration Manager", "Manager", "ClientConfigAdmin")
			</li>
			<li class="nav-divider"></li>
	}
	@if (Html.UserHasPermissionToAny(GStoreAction.ClientConfig_Edit, GStoreAction.ClientConfig_View))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Client Configuration", "ClientView", "ClientConfigAdmin")
			</li>
	}
	@if (Html.UserHasPermissionToAny(GStoreAction.ClientConfig_StoreFrontConfig_Edit, GStoreAction.ClientConfig_StoreFrontConfig_View))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Storefront Configuration", "StoreFrontView", "ClientConfigAdmin", new { id = Html.CurrentStoreFront(true).StoreFrontId }, null)
			</li>
	}

		</ul>
	</li>
}
@if (Html.UserHasPermission(GStoreAction.ClientRole_StoreAdminMenuItem))
{
	<!-- ClientRole Menu Item -->
	<li class="AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Roles">Roles<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
	@if (Html.UserHasPermission(GStoreAction.ClientRole_Manager))
	{
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("Admin and Public Role Manager", "Manager", "ClientRoleAdmin")
			</li>
			<li class="nav-divider"></li>
	}
	@if (Html.UserHasPermission(GStoreAction.ClientRole_Admin_Manager))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Admin Role Manager", "Admin_Manager", "ClientRoleAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.ClientRole_Admin_AssignUsers))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Admin - Assign Users To Roles", "Admin_AssignUsers", "ClientRoleAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.ClientRole_User_Manager))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Public Role Manager", "User_Manager", "ClientRoleAdmin")
			</li>
	}
	@if (Html.UserHasPermission(GStoreAction.ClientRole_User_AssignUsers))
	{
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Public - Assign Users to Roles", "User_AssignUsers", "ClientRoleAdmin")
			</li>
	}
		</ul>
	</li>
}
	<li class="dropdown AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Help">Help<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
			<li class="divider"></li>
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				<a href="mailto:renogmusic@yahoo.com">Support: Email renogmusic@yahoo.com</a>
			</li>
			<li class="divider"></li>
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("GStore System Information", "SystemInfo", "GStore")
			</li>
			<li class="divider"></li>
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("About GStore", "About", "GStore")
			</li>
		</ul>
	</li>

</ul>
