@model PageTemplate

<style>
	table th {
		text-align: center;
	}

	table td {
		text-align: center;
	}
</style>

<h2 class="jumbotron SysAdminIndexPageTitle col-md-12">
	Page Template Section Manager
	<br />
	<small>Page Template: @Html.DisplayForModel("PageTemplateNoLinks")</small>
</h2>

<div class="row">
	<div class="form-actions no-color col-md-offset-5 col-md-6">
		@Html.ActionLink("OK", "Details", new { id = Model.PageTemplateId }, new { @class = "btn btn-default" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Create a New Section", "SectionCreate", new { id = Model.PageTemplateId }, new { @class = "btn btn-info" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Sync Sections (new window)", "SectionSync", new { id = Model.PageTemplateId }, new { @class = "btn btn-info", target = "_blank" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Refresh this Page", "SectionIndex", new { id = Model.PageTemplateId }, new { @class = "btn btn-info" })
		@Html.HiddenFor(model => model.PageTemplateId)
	</div>
</div>

<hr />

@if (Model.Sections.Count() == 0)
{
	<h2 class="text-info">This Page Template has no sections.</h2>
	<h3 class="text-info">@Html.ActionLink("Click here to Create a New Section", "SectionCreate", new { id = Model.PageTemplateId }, new { @class = "btn btn-info" })</h3>
}
else
{
	PageTemplateSection firstRecord = Model.Sections.First();
	<div class="table-responsive">
		<table class="table table-hover table-striped">
			<tr>
				<th>@Html.ActionSortLink("Default Sort", "SectionIndex", string.Empty)</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.PageTemplateSectionId, "SectionIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.Name, "SectionIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.Order, "SectionIndex")
				</th>
				<th class="small">
					@Html.ActionSortLink("Status", "SectionIndex", "Status")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.IsPending, "SectionIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.StartDateTimeUtc, "SectionIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.EndDateTimeUtc, "SectionIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.CreateDateTimeUtc, "SectionIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.CreatedBy, "SectionIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.UpdateDateTimeUtc, "SectionIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.UpdatedBy, "SectionIndex")
				</th>
				<th></th>
			</tr>

			@foreach (var item in Model.Sections)
		{
			bool pageTemplateIsActive = item.PageTemplate.IsActiveDirect();
			bool sectionIsActive = item.IsActiveDirect();
			bool isAllActive = pageTemplateIsActive && sectionIsActive;
			string rowClass = (isAllActive ? "" : "text-warning");

				<tr class="@(rowClass)" onclick="GoToUrl('@Html.JavaScriptEncode(Url.Action("SectionDetails", new { @id = item.PageTemplateSectionId }))');">
					<td>
						@Html.ActionLink("Details", "SectionDetails", new { id = item.PageTemplateSectionId }, new { @class = "btn btn-sm btn-success" })
						@Html.ActionLink("Edit", "SectionEdit", new { id = item.PageTemplateSectionId }, new { @class = "btn btn-sm btn-warning" })
						@Html.ActionLink("Delete", "SectionDelete", new { id = item.PageTemplateSectionId }, new { @class = "btn btn-sm btn-danger" })
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PageTemplateSectionId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Order)
					</td>
					<td>
						@if (sectionIsActive)
					{
							<span class="text-success">Active</span>
					}
					else
					{
							<span class="text-warning"><strong>Inactive</strong></span>
							<br />
							@Html.ActionLink("Activate Page Template Section", "ActivateSection", new { id = item.PageTemplateSectionId }, new { @class = "btn btn-sm btn-warning" });
					}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsPending)
					</td>
					<td class="small">
						@Html.DisplayFor(modelItem => item.StartDateTimeUtc)
					</td>
					<td class="small">
						@Html.DisplayFor(modelItem => item.EndDateTimeUtc)
					</td>
					<td class="small">
						@Html.DisplayFor(modelItem => item.CreateDateTimeUtc)
					</td>
					<td class="small">
						@Html.DisplayFor(modelItem => item.CreatedBy.UserId)
					</td>
					<td class="small">
						@Html.DisplayFor(modelItem => item.UpdateDateTimeUtc)
					</td>
					<td class="small">
						@Html.DisplayFor(modelItem => item.UpdatedBy.UserId)
					</td>
					<td>
						@Html.ActionLink("Details", "SectionDetails", new { id = item.PageTemplateSectionId }, new { @class = "btn btn-sm btn-success" })
						@Html.ActionLink("Edit", "SectionEdit", new { id = item.PageTemplateSectionId }, new { @class = "btn btn-sm btn-warning" })
						@Html.ActionLink("Delete", "SectionDelete", new { id = item.PageTemplateSectionId }, new { @class = "btn btn-sm btn-danger" })
					</td>
				</tr>
		}

		</table>
	</div>

	<div class="row">
		<div class="form-actions no-color col-md-offset-5 col-md-6">
			@Html.ActionLink("OK", "Details", new { id = Model.PageTemplateId }, new { @class = "btn btn-default" })
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Create a New Section", "SectionCreate", new { id = Model.PageTemplateId }, new { @class = "btn btn-info" })
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Sync Sections (new window)", "SectionSync", new { id = Model.PageTemplateId }, new { @class = "btn btn-info", target = "_blank" })
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Refresh this Page", "SectionIndex", new { id = Model.PageTemplateId }, new { @class = "btn btn-info" })
		</div>
	</div>

}
