@model IEnumerable<UserProfile>

@{
	bool isFiltered = Html.ClientIsFiltered();
	int? filterClientId = Html.FilterClientId();
	bool hideStoreFrontFilter = (isFiltered && !filterClientId.HasValue) ? true : false;
	IEnumerable<SelectListItem> storeFrontFilterList = ViewBag.StoreFrontFilterList as IEnumerable<SelectListItem>;

	int? filterStoreFrontId = null;
	var selectedStoreFrontItem = storeFrontFilterList.Where(l => l.Selected).FirstOrDefault();
	if (selectedStoreFrontItem != null && !string.IsNullOrEmpty(selectedStoreFrontItem.Value))
	{
		isFiltered = true;
		filterStoreFrontId = int.Parse(selectedStoreFrontItem.Value);
	}

}

<style>
	table th {
		text-align: center;
	}

	table td {
		text-align: center;
	}
</style>

<h2 class="jumbotron SysAdminIndexPageTitle col-md-12">User Manager</h2>
<hr />
@Html.ActionLink("OK", "Index", "StoreFrontSysAdmin", new { id = filterStoreFrontId }, new { @class = "btn btn-default" })
<hr />


<p>
	@{
		using (Html.BeginForm("Index", "UserProfileSysAdmin", FormMethod.Post, new { name = "storefrontfilterform", style = "display: inline" }))
		{

			@Html.ActionLink("Create New", "Create", new { clientId = filterClientId, storeFrontId = filterStoreFrontId }, new { @class = "btn btn-info" })

			@:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			@:<span @Html.Raw(hideStoreFrontFilter ? "style=\"visibility: hidden;\"" : string.Empty)>Store Front Filter:
			@Html.DropDownList("storeFrontId", storeFrontFilterList, new { @class = "form-control", id = "ClientFilter", onchange = "document.forms['storefrontfilterform'].submit();", style = "display: inline;" + (hideStoreFrontFilter ? "visibility: hidden;" : string.Empty) })
			@:</span>
		}
		<hr />
	}
</p>
@if (Model.Count() == 0)
{
	if (isFiltered && (!filterClientId.HasValue || filterClientId.Value == 0))
	{
		<h2 class="text-info">No Client selected. Please select a client to view or ALL.</h2>
		<h3 class="text-info">@Html.ActionLink("Click here to show records for All Clients", "Index", new { ClientId = "-1" }, null)</h3>
		<h3 class="text-info">@Html.ActionLink("Click here to Create a New User", "Create", new { clientId = filterClientId, storeFrontId = filterStoreFrontId }, new { @class = "btn btn-info" })</h3>
	}
	else if (isFiltered)
	{
		<h2 class="text-info">No User Profiles found for the selected client and/or Store Front.</h2>
		<h3 class="text-info">@Html.ActionLink("Click here to Clear Filter", "Index", new { ClientId = "-1" }, null)</h3>
		<h3 class="text-info">@Html.ActionLink("Click here to Create a New User", "Create", new { clientId = filterClientId, storeFrontId = filterStoreFrontId }, new { @class = "btn btn-info" })</h3>
	}
	else
	{
		<h2 class="text-info">No User Profiles found in database.</h2>
		<h3 class="text-info">@Html.ActionLink("Click here to Create a New User", "Create", new { clientId = filterClientId, storeFrontId = filterStoreFrontId }, new { @class = "btn btn-info" })</h3>
	}
}
else
{
	UserProfile nullModel = new UserProfile();
	
	<div class="table-responsive">
		<table class="table table-hover table-striped">
			<tr>
				<th>@Html.ActionSortLink("Default Sort", "Index", string.Empty)</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.ClientId, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.Client, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.StoreFrontId, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLink("Store Front Name", "Index", "StoreFront.Name")
				</th>
				<th>
					@Html.ActionSortLinkForItem(model => nullModel.UserProfileId, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.UserName, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.Email, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.FullName, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.LastLogonDateTimeUtc, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLink("Status", "Index", "Status")
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.IsPending, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.StartDateTimeUtc, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.EndDateTimeUtc, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.CreateDateTimeUtc, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.CreatedBy, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.UpdateDateTimeUtc, "Index", true)
				</th>
				<th class="small">
					@Html.ActionSortLinkForItem(model => nullModel.UpdatedBy, "Index", true)
				</th>
				<th class="small"></th>
			</tr>

			@foreach (var item in Model)
			{
				bool userProfileIsActive = item.IsActiveDirect();
				bool isAllActive = userProfileIsActive;
				string rowClass = (isAllActive ? "" : "text-warning");
				<tr class="@(rowClass)" onclick="GoToUrl('@Html.JavaScriptEncode(Url.Action("Details", new { @id = item.UserProfileId }))');">
					<td>
						@Html.ActionLink("Details", "Details", new { id = item.UserProfileId }, new { @class = "btn btn-sm btn-success" })
						@Html.ActionLink("Edit", "Edit", new { id = item.UserProfileId }, new { @class = "btn btn-sm btn-warning" })
						@Html.ActionLink("Delete", "Delete", new { id = item.UserProfileId }, new { @class = "btn btn-sm btn-danger" })
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.Client.ClientId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Client.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.StoreFrontId)
					</td>
					<td>
						@{
							if (item.StoreFront == null)
							{
								@:(blank)
							}
							else
							{
								if (item.StoreFront.CurrentConfigOrAny() == null)
								{
									@("Store Front Id " + item.StoreFront.CurrentConfigOrAny().Name)
								}
								else
								{
									@item.StoreFront.CurrentConfigOrAny().Name
								}
							}
						}
					</td>



					<td>
						@Html.DisplayFor(modelItem => item.UserProfileId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UserName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.FullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LastLogonDateTimeUtc)
					</td>

					<td>
						@if (userProfileIsActive)
						{
							<span class="text-success">Active</span>
						}
						else
						{
							<span class="text-warning"><strong>Inactive</strong></span>
							<br />
							@Html.ActionLink("Activate User Profile", "Activate", new { id = item.UserProfileId }, new { @class = "btn btn-sm btn-warning" });
						}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsPending)
					</td>
					<td>
						<small>@Html.DisplayFor(modelItem => item.StartDateTimeUtc)</small>
					</td>
					<td>
						<small>@Html.DisplayFor(modelItem => item.EndDateTimeUtc)</small>
					</td>
					<td>
						<small>@Html.DisplayFor(modelItem => item.CreateDateTimeUtc)</small>
					</td>
					<td>
						<small>@Html.DisplayFor(modelItem => item.CreatedBy.UserName)</small>
					</td>
					<td>
						<small>@Html.DisplayFor(modelItem => item.UpdateDateTimeUtc)</small>
					</td>
					<td>
						<small>@Html.DisplayFor(modelItem => item.UpdatedBy.UserName)</small>
					</td>
					<td>
						@Html.ActionLink("Details", "Details", new { id = item.UserProfileId }, new { @class = "btn btn-sm btn-success" })
						@Html.ActionLink("Edit", "Edit", new { id = item.UserProfileId }, new { @class = "btn btn-sm btn-warning" })
						@Html.ActionLink("Delete", "Delete", new { id = item.UserProfileId }, new { @class = "btn btn-sm btn-danger" })
					</td>
				</tr>
			}
		</table>
	</div>
}
<hr />
@Html.ActionLink("OK", "Index", "StoreFrontSysAdmin", new { id = filterStoreFrontId }, new { @class = "btn btn-default" })
