@model GStore.Models.WebForm

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

	<div class="row">
		<h2 class="jumbotron SysAdminCreatePageTitle col-md-offset-2 col-md-10 text-info title-align">
			New Web Form
		</h2>
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-info" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
		</div>
	</div>
	
	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-10">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenAuditFields()
		</div>
	</div>

    <div class="form-horizontal">
		@Html.EditorFor(model => model.Client)
		@Html.EditorFor(model => model.Name)
		@Html.EditorFor(model => model.Order)
		@Html.EditorFor(model => model.Description)
		@Html.EditorFor(model => model.Title)
		@Html.EditorFor(model => model.FormHeaderHtml)
		@Html.EditorFor(model => model.FormFooterBeforeSubmitHtml)
		@Html.EditorFor(model => model.FormFooterAfterSubmitHtml)
		@Html.EditorFor(model => model.DisplayTemplateName)
		@Html.EditorFor(model => model.SubmitButtonText)
		@Html.EditorFor(model => model.SubmitButtonClass)
		@Html.EditorFor(model => model.LabelMdColSpan)
		@Html.EditorFor(model => model.FieldMdColSpan)
		@Html.EditorFor(model => model.IsPending)
		@Html.EditorFor(model => model.StartDateTimeUtc)
		@Html.EditorFor(model => model.EndDateTimeUtc)
    </div>
	
	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-info" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
		</div>
	</div>
}

<hr />

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
