@model GStore.Models.WebForm
@using GStore.AppHtmlHelpers
@using GStore.Data

<div class="row">
	<h2 class="jumbotron SysAdminDetailsPageTitle col-md-offset-3 col-md-6 text-center text-success">
		Web Form Details:
		<br />
		<small>@Html.DisplayForModel("WebFormNoLinks")</small>
	</h2>
</div>

<div class="row">
	<div class="form-actions no-color col-md-offset-5 col-md-6">
		@Html.ActionLink("OK", "Index", null, new { @class = "btn btn-default" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Edit", "Edit", new { id = Model.WebFormId }, new { @class = "btn btn-warning" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Delete", "Delete", new { id = Model.WebFormId }, new { @class = "btn btn-danger" })
	</div>
</div>

<hr />

<div class="row">
	<dl class="dl-horizontal">
		<dt>&nbsp;</dt>
		<dd>
			<a class="btn btn-lg btn-info" href="@(Url.Action("FieldIndex", new { id = Model.WebFormId }))">
				View Fields
				<hr/>
				Active: @(Model.WebFormFields.AsQueryable().WhereIsActive().Count()) / Total: @(Model.WebFormFields.Count())
			</a>
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Client)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Client)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Order)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Order)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FormHeaderHtml)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FormHeaderHtml)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FormFooterBeforeSubmitHtml)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FormFooterBeforeSubmitHtml)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FormFooterAfterSubmitHtml)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FormFooterAfterSubmitHtml)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DisplayTemplateName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DisplayTemplateName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SubmitButtonText)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SubmitButtonText)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SubmitButtonClass)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SubmitButtonClass)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LabelMdColSpan)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LabelMdColSpan)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.FieldMdColSpan)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FieldMdColSpan)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsPending)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsPending)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.StartDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.StartDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EndDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EndDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CreateDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CreateDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CreatedBy)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CreatedBy)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UpdateDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UpdateDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UpdatedBy)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UpdatedBy)
		</dd>


	</dl>
</div>

<hr />

<div class="row">
	<div class="form-actions no-color col-md-offset-5 col-md-6">
		@Html.ActionLink("OK", "Index", null, new { @class = "btn btn-default" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Edit", "Edit", new { id = Model.WebFormId }, new { @class = "btn btn-warning" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Delete", "Delete", new { id = Model.WebFormId }, new { @class = "btn btn-danger" })
	</div>
</div>

<hr />

<p>
	@Html.ActionLink("Back to List", "Index")
</p>
