@model GStore.Models.WebForm

@{ ViewData.SetColDisplay(0, 2, 8); }
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	
	<div class="row">
		<h2 class="jumbotron SysAdminEditPageTitle col-md-offset-2 col-md-10 text-warning">
			Edit Web Form
			<br /><small>@Html.DisplayForModel("WebFormNoLinks")</small>
		</h2>
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Details", new { id = Model.WebFormId }, new { @class = "btn btn-default" })
		</div>
	</div>

	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-10">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenAuditFields()
		</div>
	</div>
	
	<div class="form-horizontal">
		@Html.EditorFor(model => model.WebFormId, "FieldKey")
		@Html.EditorFor(model => model.ClientId, "FieldClientId")
		@Html.EditorFor(model => model.Name, "FieldText")
		@Html.EditorFor(model => model.Order, "FieldInt")
		@Html.EditorFor(model => model.Description, "FieldTextArea")
		@Html.EditorFor(model => model.Title, "FieldText")
		@Html.EditorFor(model => model.FormHeaderHtml, "FieldHtml")
		@Html.EditorFor(model => model.FormFooterBeforeSubmitHtml, "FieldHtml")
		@Html.EditorFor(model => model.FormFooterAfterSubmitHtml, "FieldHtml")
		@Html.EditorFor(model => model.DisplayTemplateName, "FieldText")
		@Html.EditorFor(model => model.SubmitButtonText, "FieldText")
		@Html.EditorFor(model => model.SubmitButtonClass, "FieldText")
		@Html.EditorFor(model => model.LabelMdColSpan, "FieldInt")
		@Html.EditorFor(model => model.FieldMdColSpan, "FieldInt")
		@Html.EditorFor(model => model.IsPending, "FieldCheckbox")
		@Html.EditorFor(model => model.StartDateTimeUtc, "FieldDateTime")
		@Html.EditorFor(model => model.EndDateTimeUtc, "FieldDateTime")
	</div>
	
	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Details", new { id = Model.WebFormId }, new { @class = "btn btn-default" })
		</div>
	</div>
}

<hr />

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
