@model GStore.Models.WebFormField
@{
	Client client = Html.GStoreDb().Clients.FindById(Model.ClientId);
	List<ValueList> valueLists = null;
	List<SelectListItem> valueListSelect = null;
	if (client != null)
	{
		valueLists = client.ValueLists.AsQueryable().ApplyDefaultSort().ToList();
		valueListSelect = valueLists.Select(vl =>
			new SelectListItem() { Value = vl.ValueListId.ToString(), Text = vl.Name + " [" + vl.ValueListId + "]" + (vl.IsActiveBubble() ? "" : " [INACTIVE]") }).ToList();
	}
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

	<div class="row">
		<h2 class="jumbotron SysAdminCreatePageTitle col-md-offset-2 col-md-10 text-warning">
			Edit Web Form Field
			<br /><small>@Html.DisplayForModel("WebFormFieldNoLinks")</small>
		</h2>
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "FieldDetails", new { id = Model.WebFormFieldId }, new { @class = "btn btn-default" })
		</div>
	</div>

	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-10">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.WebFormId)
			@Html.HiddenFor(model => model.WebFormFieldId)
			@Html.HiddenFor(model => model.ClientId)
			@Html.HiddenAuditFields()
		</div>
	</div>

	<div class="form-horizontal">

		@Html.EditorFor(model => model.Name)
		@Html.EditorFor(model => model.Order)
		@Html.EditorFor(model => model.Description)
		@Html.EditorFor(model => model.LabelText)
		@Html.EditorFor(model => model.HelpLabelTopText)
		@Html.EditorFor(model => model.HelpLabelBottomText)
		@Html.EditorFor(model => model.IsRequired)

		<div class="form-group">
			@Html.LabelFor(model => model.DataType, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10 text-left">
				@Html.EnumDropDownListFor(model => model.DataType, new { @class = "form-control" } )
				@Html.ValidationMessageFor(model => model.DataType, "", new { @class = "text-danger" })
			</div>
		</div>


		@Html.EditorFor(model => model.TextAreaRows)
		@Html.EditorFor(model => model.TextAreaColumns)

		<div class="form-group">
			@Html.LabelFor(model => model.ValueList, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10 text-left">
				@Html.DropDownListFor(model => model.ValueListId, valueListSelect, "(no value list)", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ValueList, "", new { @class = "text-danger" })
			</div>
		</div>

		@Html.EditorFor(model => model.IsPending)
		@Html.EditorFor(model => model.StartDateTimeUtc)
		@Html.EditorFor(model => model.EndDateTimeUtc)
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "FieldDetails", new { id = Model.WebFormFieldId }, new { @class = "btn btn-default" })
		</div>
	</div>
}

<hr />

<div>
	@Html.ActionLink("Back to Web Form Index", "Index")
</div>
