@model GStore.Models.WebFormField
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

	<div class="row">
		<h2 class="jumbotron SysAdminCreatePageTitle col-md-offset-2 col-md-10 text-info">
			New Web Form Field Item
			<br /><small>@Html.DisplayFor(model => model.WebForm, "WebFormNoLinks")</small>
		</h2>
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-info" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "FieldIndex", new { id = Model.WebFormId }, new { @class = "btn btn-default" })
		</div>
	</div>

	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-10">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.WebFormId)
			@Html.HiddenAuditFields()
		</div>
	</div>
	
    <div class="form-horizontal">

		@Html.EditorFor(model => model.Name)
		@Html.EditorFor(model => model.Order)
		@Html.EditorFor(model => model.Description)
		@Html.EditorFor(model => model.LabelText)
		@Html.EditorFor(model => model.HelpLabelTopText)
		@Html.EditorFor(model => model.HelpLabelBottomText)
		@Html.EditorFor(model => model.IsRequired)
		@Html.EditorFor(model => model.DataType)
		@Html.EditorFor(model => model.TextAreaRows)
		@Html.EditorFor(model => model.TextAreaColumns)
		@Html.EditorFor(model => model.ValueList, "ValueListNullable")
		@Html.EditorFor(model => model.IsPending)
		@Html.EditorFor(model => model.StartDateTimeUtc)
		@Html.EditorFor(model => model.EndDateTimeUtc)

    </div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-info" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "FieldIndex", new { id = Model.WebFormId }, new { @class = "btn btn-default" })
		</div>
	</div>
}
<hr />
<div>
	@Html.ActionLink("Back to Web Form Index", "Index")
</div>
