@model GStore.Models.Product
@{
	if (Model == null)
	{
		@:(blank)
	}
	else
	{
		string url = Url.Action("ViewProductByName", "Catalog", new { urlName = Model.UrlName });
		string imageUrl = Model.ImageUrl(Request.ApplicationPath);

		<div class="ProductListItemBox boxshadowjs">
			<a class="ProductListImageLink" href="@(url)"><img class="CategoryListImage" src="@(imageUrl)" alt="@(Html.Raw(Html.AttributeEncode(Model.Name)))" title="@(Html.Raw(Html.AttributeEncode(Model.Name)))" /></a>
			<br />
			<a class="ProductListTextLink" href="@(url)">@(Model.Name)</a>
		</div>
	}
}