@model ForgotPasswordViewModel
@{
	ViewBag.Title = "Email Address Not Found";
	StoreFrontConfiguration storeFrontConfig = Html.CurrentStoreFrontConfig(false);
	bool showRegisterLink = true;
	string registerText = "Sign-up";
	if (storeFrontConfig != null)
	{
		showRegisterLink = storeFrontConfig.AccountLoginShowRegisterLink;
		registerText = storeFrontConfig.AccountLoginRegisterLinkText;
	}
	bool checkingOut = Model.CheckingOut ?? false;
	object routeValues = null;
	if (checkingOut)
	{
		routeValues = new { CheckingOut = checkingOut };
	}

}
<div class="row">
	<h2 class="AccountTitle jumbotron col-md-offset-2 col-md-7 title-align text-danger">@ViewBag.Title</h2>
</div>

<div class="row">
	<p class="col-md-offset-2 col-md-8 title-align">
		The Email address you entered @(Model.Email) was not found.
		<br />
		@{
			<br />
			@:<strong>Would you like to @(registerText) for a new account?</strong><br /><br />
			if (showRegisterLink)
			{
				@Html.ActionLink(registerText, "Register", routeValues, new { @class = "btn btn-warning" })
			}
			@:&nbsp;&nbsp;|&nbsp;&nbsp;
			if (checkingOut)
			{
				<div class="row">
					<div class="form-group col-xs-12">
						@Html.ActionLink("Return to Checkout as a Guest", "LoginOrGuest", "Checkout", new { ContinueAsGuest = true }, new { @class = "btn btn-info" })
					</div>
				</div>
			}
			else
			{
				@Html.GStoreLocalLink("Back to Home Page", "/", "class = 'btn btn-default'")
			}
}
	</p>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
