@model CheckoutViewModelBase
@{
	Cart cart = Model.Cart;
	bool showDigitalDownload = false;
	if (cart.DigitalDownloadItemCount > 0)
	{
		showDigitalDownload = true;
	}
	
}
@{
	if (cart.CartItems.Count > 0)
	{
		<div class="table-responsive">
			<table class="table table-striped  table-condensed">
				<tr>
					<th class="text-center">
						@Model.Config.CartItemColumnLabel.OrDefault("Item")
					</th>
					@if (Model.Config.CartItemQuantityColumnShow)
					{
						<th class="text-center">
							@Model.Config.CartItemQuantityColumnLabel.OrDefault("Quantity")
						</th>
					}
					@if (showDigitalDownload)
					{
						<th class="text-center">
							Digital Download
						</th>
					}
					@if (Model.Config.CartItemTotalColumnShow)
					{
						<th class="text-center">
							@Model.Config.CartItemTotalColumnLabel.OrDefault("Total")
						</th>
					}
				</tr>
					@{
		foreach (CartItem item in cart.CartItems)
		{
			<tr>
				<td class="text-center">
					@Html.DisplayFor(model => item.Product, "CheckoutProduct")
				</td>
				@if (Model.Config.CartItemQuantityColumnShow)
				{
					<td class="text-center">@item.Quantity</td>
				}
				@if (showDigitalDownload)
				{
					<td class="text-center">
						@if (item.Product.DigitalDownload)
						{
							@:Download link will be provided at checkout 
						}
						else
						{
							@:-
						}
					</td>
				}
				@if (Model.Config.CartItemTotalColumnShow)
				{
					<td class="text-center">@item.LineTotal</td>
				}
			</tr>
		}
					}
				</table>

		</div>
	}
}

<div class="table-responsive col-lg-offset-6">
	<table class="table table-striped table-condensed">
		<tr>
			<td class="text-right-md text-right-lg">
				<strong>
					@Model.Config.CartOrderTotalLabel.OrDefault("Order Total")
				</strong>
			</td>
			<td class="title-align">
				<strong>
					@Html.DisplayFor(model => model.Cart.Total)
				</strong>
			</td>
		</tr>
	</table>
</div>

