@model CheckoutDeliveryInfoShippingViewModel
<h1>Delivery Information</h1>
@{ Html.RenderPartial("_TopStatusPartial", Model); }
@{ Html.RenderPartial("_CartSimplePartial", Model); }

<h3>Please enter your shipping information below.</h3>
<h4>Enter your Email address for order confirmation.</h4>
@if (Model.Cart.DigitalDownloadItemCount > 0)
{
	<h3>Your will receive a link to download your Digital Delivery items after checkout.</h3>
}
@using (Html.BeginForm("DeliveryInfoShipping", "Checkout"))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(false, "", new { @class = "text-danger" })

	<div class="form-horizontal">
		@Html.EditorFor(model => model.FirstName, "FieldText")
		@Html.EditorFor(model => model.LastName, "FieldText")
		@Html.EditorFor(model => model.EmailAddress, "FieldEmail")
		@Html.EditorFor(model => model.AdddressL1, "FieldText")
		@Html.EditorFor(model => model.AdddressL2, "FieldText")
		@Html.EditorFor(model => model.City, "FieldText")
		@Html.EditorFor(model => model.State, "FieldText")
		@Html.EditorFor(model => model.ZIPCode, "FieldText")
	</div>
	Html.RenderPartial("_CheckoutWebFormFieldsPartial", new Tuple<CheckoutViewModelBase, WebForm>(Model, Model.Config.CheckoutDeliveryInfoShippingWebForm));

	<input type="submit" class="btn btn-success" Value="Continue &raquo;" />
}
