@model NavBarItemEditAdminViewModel

<div class="form-horizontal">
	<div class="row">
		<h3 class="col-offset-md-2 col-md-10">Be sure not to link an item to a parent that points to the current item or its children</h3>
	</div>
	@{
		if (!Model.IsCreatePage)
		{
			@Html.EditorFor(model => model.NavBarItemId, "FieldKey")
		}
	}

	@Html.EditorFor(model => model.Name, "FieldText")
	@Html.EditorFor(model => model.Order, "FieldInt")
	@Html.EditorFor(model => model.ParentNavBarItemId, "FieldParentNavBarItemIdNullable")
	@Html.EditorFor(model => model.ForRegisteredOnly, "FieldCheckbox")
	@Html.EditorFor(model => model.ForAnonymousOnly, "FieldCheckbox")
	@Html.EditorFor(model => model.UseDividerBeforeOnMenu, "FieldCheckbox")
	@Html.EditorFor(model => model.UseDividerAfterOnMenu, "FieldCheckbox")
	@Html.EditorFor(model => model.OpenInNewWindow, "FieldCheckbox")
	@Html.EditorFor(model => model.htmlAttributes, "FieldText")
	@Html.EditorFor(model => model.IsPage, "FieldCheckbox")
	@Html.EditorFor(model => model.PageId, "FieldPageIdNullable")
	@Html.EditorFor(model => model.IsLocalHRef, "FieldCheckbox")
	@Html.EditorFor(model => model.LocalHRef, "FieldUrl")
	@Html.EditorFor(model => model.IsRemoteHRef, "FieldCheckbox")
	@Html.EditorFor(model => model.RemoteHRef, "FieldUrl")
	@Html.EditorFor(model => model.IsAction, "FieldCheckbox")
	@Html.EditorFor(model => model.Action, "FieldText")
	@Html.EditorFor(model => model.ActionIdParam, "FieldText")
	@Html.EditorFor(model => model.Area, "FieldText")
	@Html.EditorFor(model => model.Controller, "FieldDateTime")
	@Html.EditorFor(model => model.IsPending, "FieldCheckbox")
	@Html.EditorFor(model => model.StartDateTimeUtc, "FieldDateTime")
	@Html.EditorFor(model => model.EndDateTimeUtc, "FieldDateTime")

</div>
