@model CatalogViewModel
<!-- Catalog Index Start -->
@{
	ViewBag.Title = Model.StoreFrontConfig.CatalogTitle;
}

<div class="row CatalogTitleRow">
	<div class="col-xs-12 text-center CatalogTitleCol">
		<h1 class="CatalogTitleText">@(Model.StoreFrontConfig.CatalogTitle)</h1>
	</div>
</div>

<div class="CatalogHeader">
	@Html.Raw(Html.ReplaceVariables(Model.StoreFrontConfig.CatalogHeaderHtml))
</div>

@{ Html.RenderCatalogTopPartial(); }

<div class="CatalogFooter">
	@Html.Raw(Html.ReplaceVariables(Model.StoreFrontConfig.CatalogFooterHtml))
</div>

@if (Html.UserHasPermission(GStoreAction.Categories_Manager))
{
	StoreFrontConfiguration config = Model.StoreFrontConfig;
	string productSingle = config.CatalogDefaultProductTypeSingleOrSystemDefault();
	string productsPlural = config.CatalogDefaultProductTypePluralOrSystemDefault();
	string bundleSingle = config.CatalogDefaultProductBundleTypeSingleOrSystemDefault();
	string bundlesPlural = config.CatalogDefaultProductBundleTypePluralOrSystemDefault();
	<hr />
	@Html.ActionLink("Manage Categories", "Manager", "CategoryAdmin", new { area = "CatalogAdmin", ReturnToFrontEnd = true }, null)
	@:&nbsp;&nbsp;|&nbsp;&nbsp;
	@Html.ActionLink("View " + productsPlural , "Manager", "ProductAdmin", new { area = "CatalogAdmin", productCategoryId = "", ReturnToFrontEnd = true }, null)
	@:&nbsp;&nbsp;|&nbsp;&nbsp;
	@Html.ActionLink("View " + bundlesPlural, "Manager", "BundleAdmin", new { area = "CatalogAdmin", productCategoryId = "", ReturnToFrontEnd = true }, null)
	@:&nbsp;&nbsp;|&nbsp;&nbsp;
	@Html.ActionLink("New " + productSingle, "Create", "ProductAdmin", new { area = "CatalogAdmin", id = "", ReturnToFrontEnd = true }, null)
	@:&nbsp;&nbsp;|&nbsp;&nbsp;
	@Html.ActionLink("New " + bundleSingle, "Create", "BundleAdmin", new { area = "CatalogAdmin", id = "", ReturnToFrontEnd = true }, null)
	@:&nbsp;&nbsp;|&nbsp;&nbsp;
	@Html.ActionLink("New Root Category", "Create", "CategoryAdmin", new { area = "CatalogAdmin", id = "", ReturnToFrontEnd = true }, null)
}
<!-- Catalog Index End -->