@model GStore.Models.ViewModels.MenuViewModel
@using Microsoft.AspNet.Identity
@using GStore.Identity
@using GStore.AppHtmlHelpers
@using GStore.Models
@using GStore.Data
@if (Request.IsAuthenticated)
{
	
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

	<ul class="nav navbar-nav navbar-right">
		<li>
			<a href="@Url.Action("Index", "Profile")" title="My Account">
				<small>( @User.Identity.GetUserName() )</small>
			</a>
		</li>
		@if (Model.ShowStoreAdminLink)
		{
			//if user has store admin permissions, show store admin link
			<li>
				@Html.ActionLink("Store Admin", "Index", "StoreAdmin", new { Area = "StoreAdmin" }, htmlAttributes: new { title = "Store Admin" })
			</li>
		}
		@if (Model.ShowSystemAdminLink)
		{
			//if user has system admin permission, show system admin link
			Client currentClient = Html.CurrentClient(false);
			int? clientId = null;
			if (currentClient != null)
			{
				clientId = currentClient.ClientId;
			}
			<li>
				@Html.ActionLink("System Admin", "Index", "SystemAdmin", new { ClientId = clientId, Area = "SystemAdmin" }, htmlAttributes: new { title = "System Admin" })
			</li>
		}
		<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
	</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		@{
			if (Model.StoreFront != null)
			{
				if (Model.StoreFront.NavBarShowRegisterLink)
				{
					string signupLinkText = Model.StoreFront.NavBarRegisterLinkText;
					if (string.IsNullOrEmpty(signupLinkText))
					{
						signupLinkText = "Sign-Up";
					}
					<li>@Html.ActionLink(signupLinkText, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>	
				}
				
			}
			else
			{
				<li><a href="#"><strong class="text-danger">INACTIVE STORE</strong></a></li>
			}
		}

		<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
		&nbsp;&nbsp;&nbsp;&nbsp;
	</ul>
}
