@model GStore.Exceptions.GStoreErrorInfo
@using GStore.AppHtmlHelpers
@using GStore.Models
@{
	string title = "Error " + Model.ErrorCode + " - Http Error";
	ViewBag.Title = title;
	StoreFront storeFront = Html.CurrentStoreFront(false);
}
<h1 class="text-danger">@title</h1>
@{
	if (storeFront != null)
	{
		<h2 class="text-danger">@storeFront.Name</h2>
	}
}
<p>@title</p>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">If you need assistance with this error, email me at <a href="mailto:renogmusic@yahoo.com">renogmusic@yahoo.com</a></h2>
<h3>@Html.GStoreLocalLink("Click here for the " + (storeFront == null ? string.Empty : storeFront.Name + " ") + "home page", "/")</h3>
@if (Request.IsLocal || User.IsInRole("SystemAdmin"))
{
	@Html.Partial("_ErrorDetailsPartial", Model)
}
