@model GStore.Areas.StoreAdmin.ViewModels.WebFormEditAdminViewModel

<div class="row">
	<h1 class="jumbotron StoreAdminEditPageTitle col-md-offset-1 col-md-8 text-success">
		Web Form Details<br /><small>'@(Model.Name)' [@(Model.WebFormId)]</small>
	</h1>
</div>
<script>
	function JumpToEditTab() {
		var url = '@(Url.Action("Edit", new { id = Model.WebFormId, Tab = "XXXX"}).ToJavaScriptString())';
		if (document.getElementById("ActiveTab")) {
			url = url.replace("XXXX", document.getElementById("ActiveTab").value);
		}
		window.location.href = url;
	}
</script>

<div class="row">
	<div class="form-actions no-color col-md-offset-4 col-md-6">
		@Html.ActionLink("OK", "Manager", null, new { @class = "btn btn-default" })
		@if (Html.UserHasPermission(GStoreAction.WebForms_Edit))
		{
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			<a href="#" onclick="JumpToEditTab();" class="btn btn-warning">Edit</a>
		}
		@if (Html.UserHasPermission(GStoreAction.WebForms_Delete))
		{
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Delete", "Delete", new { id = Model.WebFormId }, new { @class = "btn btn-danger" })
		}
	</div>
</div>
<hr />
@Html.DisplayForModel()
<hr />
<div class="row">
	<div class="form-actions no-color col-md-offset-4 col-md-6">
		@Html.ActionLink("OK", "Manager", null, new { @class = "btn btn-default" })
		@if (Html.UserHasPermission(GStoreAction.WebForms_Edit))
		{
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			<a href="#" onclick="JumpToEditTab();" class="btn btn-warning">Edit</a>
		}
		@if (Html.UserHasPermission(GStoreAction.WebForms_Delete))
		{
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Delete", "Delete", new { id = Model.WebFormId }, new { @class = "btn btn-danger" })
		}
	</div>
</div>

