@model Client
@{
	int? clientId = Model == null ? (int?)null : Model.ClientId;
}
<div class="form-group">
	@Html.LabelWithRequiredForModel(new { @class = "col-md-2 title-align-right" })
	<div class="col-md-10 title-align">
		@Html.DropDownListForModel(Html.ClientList(clientId), new { onchange = "clientupdated(this);" })
		@Html.HelpLabelPopoverForModel()
		<br />
		@Html.ValidationMessageForModel()
	</div>
</div>
@Html.Hidden("ClientIdChanged", false)
<script>
	function clientupdated(element)
	{
		$('#ClientIdChanged').val("True");
		element.form.submit();
	}
</script>