@model DateTime?
<div class="form-group">
	@Html.LabelWithRequiredForModel(new { @class = "col-md-2 title-align-right" })
	<div class="col-md-10 title-align">
		@Html.TextBoxWithWatermarkForModel()
		@Html.HelpLabelPopoverForModel()
		@Html.ValidationMessageForModel()
		@if (Model.HasValue && Model.Value > DateTime.MinValue)
		{
			<small>Local Time: @(Model.Value.ToLocalTime())</small>@: - 
		}
		<small>Current UTC Time: @DateTime.UtcNow.ToString()</small>
	</div>
</div>
