@model WebFormFieldEditAdminViewModel

@{
	List<SelectListItem> valueListOptions = Model.ValueListSelectList;

	string statusTextClass = " text-success";
	if (!Model.IsActiveDirect)
	{
		statusTextClass = " text-warning";
	}
}
<script>
	$(document).ready(function () {
		$('#FieldEditModal_@(Model.Index)').on('hidden.bs.modal', function (e) {
			//field edit is closed
		})
	});

</script>
<style>
	.modal .modal-content label.control-label {
		padding-bottom: 0 !important;
		margin-top: 0 !important;
	}

	.modal .modal-content label.help-label {
		text-align: center;
		padding-bottom: 0 !important;
		margin-top: 0 !important;
	}
</style>
<div id="FieldEditModal_@(Model.Index)" class="modal modal-lg fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-warning">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title text-center">
					Field '@(Model.Name)' [@(Model.WebFormFieldId)]
					<br />
					Form '@(Model.WebForm.Name)' [@(Model.WebFormId)] - Index: @(Model.Index)
				</h4>
			</div>
			<div class="modal-body">
				<div class="row center-block text-center">
					<div class="col-xs-12">
						<input type="submit" class="btn btn-warning" value="Save changes" />
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.WebFormFieldId, new { @class = "title-align-right control-label col-md-3 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.WebFormFieldId)
						@Html.HiddenFor(model => model.WebFormFieldId)
						@Html.HiddenFor(model => model.WebFormId)
						<br />
						@Html.HelpLabelFor(model => model.WebFormFieldId)
					</div>
				</div>

				@Html.EditorFor(model => model.Name, "FieldText")
				@Html.EditorFor(model => model.Order, "FieldInt")
				@Html.EditorFor(model => model.Description, "FieldTextArea")
				@Html.EditorFor(model => model.IsRequired, "FieldCheckbox")
				@Html.EditorFor(model => model.LabelText, "FieldText")
				@Html.EditorFor(model => model.Watermark, "FieldText")
				@Html.EditorFor(model => model.DataType, "FieldEnum")
				@Html.EditorFor(model => model.HelpLabelBottomText, "FieldText")
				@Html.EditorFor(model => model.HelpLabelTopText, "FieldText")
				@Html.EditorFor(model => model.TextAreaColumns, "FieldInt")
				@Html.EditorFor(model => model.TextAreaRows, "FieldInt")
				@Html.EditorFor(model => model.ValueListId, "FieldValueListNullable")

				<div class="form-group">
					@Html.LabelFor(model => model.IsActiveDirect, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align @(statusTextClass)">
						<strong>@(Model.IsActiveDirect ? "ACTIVE" : "INACTIVE")</strong>

						<a class="btn btn-xs btn-success" href="#" onclick="ActivateField(@(Model.Index)); return false;">Make It Active Now</a>
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.IsActiveDirect, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				@Html.EditorFor(model => model.IsPending, "FieldCheckbox")
				@Html.EditorFor(model => model.StartDateTimeUtc, "FieldDateTime")
				@Html.EditorFor(model => model.EndDateTimeUtc, "FieldDateTime")

			</div>
			<div class="modal-footer">
				<div class="row center-block text-center">
					<div class="col-xs-12">
						<input type="submit" class="btn btn-warning" value="Save changes" />
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
