@model Client

<div class="row">
	<h2 class="col-md-offset-3 col-md-6 jumbotron SysAdminDeletePageTitle text-danger">Confirm Client Delete</h2>
</div>

<div class="row">
	<h3 class="col-md-offset-4 col-md-8 text-danger title-align">Are you sure you want to delete Client: <br />'@(Model.Name)' [@(Model.ClientId)]?</h3>
</div>

<div class="row">
	<div class="form-actions col-md-offset-4 col-md-8 no-color">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			<input type="submit" value="Simple Delete" name="Delete" class="btn btn-danger" />
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Seek and Destroy", "SeekAndDestroy", new { id = Model.ClientId }, new { @class = "btn btn-danger" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }, new { @class = "btn btn-warning" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Details", "Details", new { id = Model.ClientId }, new { @class = "btn btn-success" });
		}
	</div>
</div>

<hr />

<div class="row">
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ClientId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ClientId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Folder)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Folder)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Order)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Order)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TimeZoneId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TimeZoneId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EnablePageViewLog)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EnablePageViewLog)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EnableNewUserRegisteredBroadcast)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EnableNewUserRegisteredBroadcast)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UseSendGridEmail)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UseSendGridEmail)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SendGridMailAccount)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SendGridMailAccount)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SendGridMailPassword)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SendGridMailPassword)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SendGridMailFromEmail)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SendGridMailFromEmail)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SendGridMailFromName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SendGridMailFromName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UseTwilioSms)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UseTwilioSms)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TwilioSid)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TwilioSid)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TwilioToken)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TwilioToken)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TwilioFromPhone)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TwilioFromPhone)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TwilioSmsFromName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TwilioSmsFromName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TwilioSmsFromEmail)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TwilioSmsFromEmail)
		</dd>


		<dt>
			@Html.DisplayNameFor(model => model.IsPending)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsPending)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.StartDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.StartDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EndDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EndDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CreateDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CreateDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CreatedBy)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CreatedBy)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UpdateDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UpdateDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UpdatedBy)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UpdatedBy)
		</dd>

	</dl>
</div>

<hr />

<div class="row">
	<div class="form-actions col-md-offset-4 col-md-8 no-color">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			<input type="submit" value="Simple Delete" class="btn btn-danger" />
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Seek and Destroy", "SeekAndDestroy", new { id = Model.ClientId }, new { @class = "btn btn-danger" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }, new { @class = "btn btn-warning" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Details", "Details", new { id = Model.ClientId }, new { @class = "btn btn-success" });
		}
	</div>
</div>

<hr />

<p>
	@Html.ActionLink("Back to List", "Index")
</p>
