@model Client

<div class="row">
	<h2 class="jumbotron SysAdminRecordSummaryPageTitle col-md-offset-3 col-md-6 text-success">
		Client Record Summary
		'@(Model.Name)' [@(Model.ClientId)]
	</h2>
</div>

<div class="row">
	<div class="form-actions no-color col-md-offset-5 col-md-6">
		@Html.ActionLink("OK", "Index", null, new { @class = "btn btn-default" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }, new { @class = "btn btn-warning" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Details", "Details", new { id = Model.ClientId }, new { @class = "btn btn-success" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Delete", "Delete", new { id = Model.ClientId }, new { @class = "btn btn-danger" })
	</div>
</div>

<hr />

<div class="row">
	<pre class="col-xs-offset-2 col-xs-8 text-left" text-left>
		@(ViewData["RecordSummary"] as string)
	</pre>
</div>

<hr />

<div class="row">
	<div class="form-actions no-color col-md-offset-5 col-md-6">
		@Html.ActionLink("OK", "Index", null, new { @class = "btn btn-default" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }, new { @class = "btn btn-warning" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Details", "Details", new { id = Model.ClientId }, new { @class = "btn btn-success" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Delete", "Delete", new { id = Model.ClientId }, new { @class = "btn btn-danger" })
	</div>
</div>

<hr />

<p>
	@Html.ActionLink("Back to List", "Index")
</p>
