@model WebFormField

@{ ViewData.SetColDisplay(0, 2, 8); }
@{
	Client client = Html.GStoreDb().Clients.FindById(Model.ClientId);
	List<ValueList> valueLists = null;
	List<SelectListItem> valueListSelect = null;
	if (client != null)
	{
		valueLists = client.ValueLists.AsQueryable().ApplyDefaultSort().ToList();
		valueListSelect = valueLists.Select(vl =>
			new SelectListItem() { Value = vl.ValueListId.ToString(), Text = vl.Name + " [" + vl.ValueListId + "]" + (vl.IsActiveBubble() ? "" : " [INACTIVE]") }).ToList();
	}
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

	<div class="row">
		<h2 class="jumbotron SysAdminCreatePageTitle col-md-offset-2 col-md-10 text-warning">
			Edit Web Form Field
			<br /><small>@Html.DisplayForModel("WebFormFieldNoLinks")</small>
		</h2>
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "FieldDetails", new { id = Model.WebFormFieldId }, new { @class = "btn btn-default" })
		</div>
	</div>

	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-10">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenAuditFields()
		</div>
	</div>

	<div class="form-horizontal">
		@Html.EditorFor(model => model.WebFormId, "FieldKey")
		@Html.EditorFor(model => model.WebFormFieldId, "FieldKey")
		@Html.EditorFor(model => model.ClientId, "FieldKey")
		@Html.EditorFor(model => model.Name, "FieldText")
		@Html.EditorFor(model => model.Order, "FieldInt")
		@Html.EditorFor(model => model.Description, "FieldTextArea")
		@Html.EditorFor(model => model.LabelText, "FieldText")
		@Html.EditorFor(model => model.Watermark, "FieldText")
		@Html.EditorFor(model => model.HelpLabelTopText, "FieldText")
		@Html.EditorFor(model => model.HelpLabelBottomText, "FieldText")
		@Html.EditorFor(model => model.IsRequired, "FieldCheckbox")
		@Html.EditorFor(model => model.DataType, "FieldEnum")
		@Html.EditorFor(model => model.TextAreaRows, "FieldInt")
		@Html.EditorFor(model => model.TextAreaColumns, "FieldInt")
		@Html.EditorFor(model => model.ValueListId, "FieldValueListId")
		@Html.EditorFor(model => model.IsPending, "FieldCheckbox")
		@Html.EditorFor(model => model.StartDateTimeUtc, "FieldDateTime")
		@Html.EditorFor(model => model.EndDateTimeUtc, "FieldDateTime")
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "FieldDetails", new { id = Model.WebFormFieldId }, new { @class = "btn btn-default" })
		</div>
	</div>
}

<hr />

<div>
	@Html.ActionLink("Back to Web Form Index", "Index")
</div>
