@model WebFormField
<div class="row">
	<h2 class="col-md-offset-3 col-md-6 jumbotron SysAdminDetailsPageTitle text-success">
		Web Form Field Details:
		<br /><small>@Html.DisplayForModel("WebFormFieldNoLinks")</small>
	</h2>
</div>

<div class="row">
	<div class="form-actions no-color col-md-offset-5 col-md-6">
		@Html.ActionLink("OK", "FieldIndex", new { id = Model.WebFormId }, new { @class = "btn btn-default" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Edit", "FieldEdit", new { id = Model.WebFormFieldId }, new { @class = "btn btn-warning" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Delete", "FieldDelete", new { id = Model.WebFormFieldId }, new { @class = "btn btn-danger" })
	</div>
</div>

<hr />

<div class="row">
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Client)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Client)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.WebForm)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.WebForm)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Order)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Order)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsRequired)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsRequired)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LabelText)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LabelText)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Watermark)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Watermark)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DataType)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DataType)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DataTypeString)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DataTypeString)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.HelpLabelTopText)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.HelpLabelTopText)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.HelpLabelBottomText)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.HelpLabelBottomText)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TextAreaColumns)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TextAreaColumns)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TextAreaRows)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TextAreaRows)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ValueList)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ValueList)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsPending)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsPending)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.StartDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.StartDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EndDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EndDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CreateDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CreateDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CreatedBy)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CreatedBy)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UpdateDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UpdateDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UpdatedBy)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UpdatedBy)
		</dd>

	</dl>
</div>

<hr />

<div class="row">
	<div class="form-actions no-color col-md-offset-5 col-md-6">
		@Html.ActionLink("OK", "FieldIndex", new { id = Model.WebFormId }, new { @class = "btn btn-default" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Edit", "FieldEdit", new { id = Model.WebFormFieldId }, new { @class = "btn btn-warning" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Delete", "FieldDelete", new { id = Model.WebFormFieldId }, new { @class = "btn btn-danger" })
	</div>
</div>

<hr />

<div>
	@Html.ActionLink("Back to Web Form Index", "Index")
</div>
