@model GStore.Areas.CatalogAdmin.ViewModels.ProductCategoryEditAdminViewModel

fix buttons and page title
add validation and examples for urlname and image name


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@if (Model.IsCreatePage)
		{
			<h4>Create a new Product Category</h4>
		}
		else
		{
			<h4>Edit Product Category</h4>
			<h5>@Html.DisplayFor(model => model.ProductCategory)</h5>
		}
		<hr />
		@Html.ValidationSummary(false, "", new { @class = "text-danger" })

		@Html.EditorFor(model => model.Name, "FieldText")
		@Html.EditorFor(model => model.UrlName, "FieldText")
		@Html.EditorFor(model => model.Order, "FieldInt")
		@Html.EditorFor(model => model.ImageName, "FieldText")

		@Html.EditorFor(model => model.ShowInMenu, "FieldCheckbox")
		@Html.EditorFor(model => model.ShowIfEmpty, "FieldCheckbox")
		@Html.EditorFor(model => model.AllowChildCategoriesInMenu, "FieldCheckbox")

		@Html.EditorFor(model => model.ForRegisteredOnly, "FieldCheckbox")
		@Html.EditorFor(model => model.ForAnonymousOnly, "FieldCheckbox")

		@Html.EditorFor(model => model.UseDividerAfterOnMenu, "FieldCheckbox")
		@Html.EditorFor(model => model.UseDividerBeforeOnMenu, "FieldCheckbox")

		@Html.EditorFor(model => model.EndDateTimeUtc, "FieldDateTime")
		@Html.EditorFor(model => model.IsPending, "FieldCheckbox")
		@Html.EditorFor(model => model.StartDateTimeUtc, "FieldDateTime")

		@Html.EditorFor(model => model.ParentCategoryId, "FieldInt")

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}


<div>
	@Html.ActionLink("Back to List", "Index", "CatalogAdmin")
</div>
