@model GStore.Models.StoreFront
@using GStore.AppHtmlHelpers
@using GStore.Data
<div class="row">
	<h2 class="col-md-offset-3 col-md-6 jumbotron SysAdminDeletePageTitle text-danger">Confirm Store Front Delete</h2>
</div>
<div class="row">
	<h3 class="col-md-offset-4 col-md-8 text-danger text-left">Are you sure you want to delete Store Front: <br />'@(Model.Name)' [@(Model.StoreFrontId)]?</h3>
</div>
<div class="row">
	<div class="form-actions col-md-offset-4 col-md-8 form-actions no-color text-left">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			<input type="submit" value="Delete" class="btn btn-danger" />
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Edit", "Edit", new { id = Model.StoreFrontId }, new { @class = "btn btn-warning" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Details", "Details", new { id = Model.StoreFrontId }, new { @class = "btn btn-success" });
		}
	</div>
</div>
<hr />
<div class="row">
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Client.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Client.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.PublicUrl)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.PublicUrl)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Order)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Order)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Folder)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Folder)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.HtmlFooter)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.HtmlFooter)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.AccountAdmin.UserId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AccountAdmin.UserId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CreatedBy.UserId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CreatedBy.UserId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.RegisteredNotify.UserId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.RegisteredNotify.UserId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Theme.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Theme.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UpdatedBy.UserId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UpdatedBy.UserId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.WelcomePerson.UserId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.WelcomePerson.UserId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.MetaApplicationName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.MetaApplicationName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.MetaApplicationTileColor)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.MetaApplicationTileColor)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.MetaDescription)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.MetaDescription)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.MetaKeywords)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.MetaKeywords)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.NavBarCatalogMaxLevels)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NavBarCatalogMaxLevels)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CatalogPageInitialLevels)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CatalogPageInitialLevels)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.NavBarItemsMaxLevels)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NavBarItemsMaxLevels)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DefaultNewPageLayoutName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DefaultNewPageLayoutName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.AccountLayoutName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AccountLayoutName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ProfileLayoutName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ProfileLayoutName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.NotificationsLayoutName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NotificationsLayoutName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CatalogLayoutName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CatalogLayoutName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CatalogCategoryColSm)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CatalogCategoryColSm)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CatalogCategoryColMd)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CatalogCategoryColMd)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CatalogCategoryColLg)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CatalogCategoryColLg)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CatalogProductColSm)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CatalogProductColSm)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CatalogProductColMd)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CatalogProductColMd)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CatalogProductColLg)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CatalogProductColLg)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.AdminLayoutName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AdminLayoutName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.StartDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.StartDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EndDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EndDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsPending)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsPending)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CreateDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CreateDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UpdateDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UpdateDateTimeUtc)
		</dd>

	</dl>
</div>
<hr/>
<div class="row">
	<div class="col-md-offset-4 col-md-8 form-actions no-color text-left">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			<input type="submit" value="Delete" class="btn btn-danger" />
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Edit", "Edit", new { id = Model.StoreFrontId }, new { @class = "btn btn-warning" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Details", "Details", new { id = Model.StoreFrontId }, new { @class = "btn btn-success" });
		}
	</div>
</div>
<hr />
<p>
	@Html.ActionLink("Back to List", "Index")
</p>
