@model GStore.Models.ViewModels.WebFormFieldEditViewModel
@using GStore.AppHtmlHelpers
@using GStore.Data
@using GStore.Models
@{
	string statusTextClass = " text-success";
	if (!Model.IsActiveDirect)
	{
		statusTextClass = " text-warning";
	}
}
<script>
	$(document).ready(function () {
		$('#FieldEditModal_@(Model.Index)').on('hidden.bs.modal', function (e) {
			//field edit is closed
		})
	}
	);
</script>
<style>
	.modal .modal-content label.control-label {
		padding-bottom: 0 !important;
		margin-top: 0 !important;
		line-height: 20px;
	}

	.modal .modal-content label.help-label {
		text-align: center;
		padding-bottom: 0 !important;
		margin-top: 0 !important;
	}

	.modal-footer {
		padding-bottom: 1em;
	}
</style>
<div id="FieldEditModal_@(Model.Index)" class="modal modal-lg fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-success">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title text-center">Field '@(Model.Name)' [@(Model.WebFormFieldId)] for Form '@(Model.WebForm.Name)' [@(Model.WebFormId)] - Index: @(Model.Index)</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					@Html.LabelFor(model => model.WebFormFieldId, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.WebFormFieldId)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.WebFormFieldId, htmlAttributes: new { @class = "col-md-12 help-label" })
						<hr />
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Name, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.Name)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Order, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.Order)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.Order, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Description, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.Description)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.IsRequired, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.IsRequired)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.IsRequired, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.LabelText, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.LabelText)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.LabelText, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.DataType, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.DataType)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.DataType, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.DataTypeString, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.DataTypeString)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.DataTypeString, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.HelpLabelBottomText, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.HelpLabelBottomText)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.HelpLabelBottomText, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.HelpLabelTopText, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.HelpLabelTopText)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.HelpLabelTopText, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.TextAreaColumns, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.TextAreaColumns)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.TextAreaColumns, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.TextAreaRows, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.TextAreaRows)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.TextAreaRows, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.ValueList, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@{
							if (Model.ValueList == null)
							{
								@:(blank)
				}
							else
							{
								@:'@(Model.ValueList)' [@(Model.ValueListId)]
				}
						}
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.ValueList, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.IsActiveDirect, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align@(statusTextClass)">
						<strong>@(Model.IsActiveDirect ? "ACTIVE" : "INACTIVE")</strong>
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.IsActiveDirect, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

			</div>
			<div class="modal-footer bg-success">
				<div class="row">
					<div class="col-xs-12">
						<button type="button" class="btn btn-default center-block" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
