@model string

@if (string.IsNullOrEmpty(Model))
{
	@:(none)
}
else
{
	StoreFront storeFront = Html.CurrentStoreFront(true);
	string url = storeFront.ProductCatalogFileUrl(Request.ApplicationPath, ViewContext.RouteData, Model);
	string path = storeFront.ProductCatalogFilePath(Request.ApplicationPath, ViewContext.RouteData, Server, Model);
	if (path == null)
	{
		<h3 class="text-danger">File not found '@(url)'</h3>
	}
	else if (System.IO.File.Exists(path))
	{
		FileInfo fileInfo = new System.IO.FileInfo(path);
		<span class="text-success">File OK. Type: @(path.FileExtension()) Size: @(fileInfo.Length.ToByteString()) updated @(fileInfo.LastWriteTimeUtc) UTC</span>
	}
	else
	{
		<h3 class="text-danger">File not found '@(url)'</h3>
	}
	<br />
	<a href="@(url)" title="View full size" target="_blank">
		@(url)
		<br />
		@if (Model.FileExtensionIsImage())
		{
			<img src="@(url)" width="80" height="80" alt="@(url)" title="@(url)" />
			<br />
			@:(view full size in a new window)
		}
		else if (Model.FileExtensionIsAudio())
		{
			string audioType = "audio/mpeg";
			<audio controls="controls" title="@(Model)" preload="metadata">
				@if (Model.FileExtensionIs("wav"))
				{
					audioType = "audio/wav";
				}
				else if (Model.FileExtensionIs("ogg"))
				{
					audioType = "audio/ogg";
				}
				<source title="Sample" src="@Html.Raw(url)" type="@(audioType)" />
			</audio>
		}
		else
		{
			@:(view in a new window)
		}
	</a>
}
