@model CatalogViewModel
@{
	if (Model.CurrentProductBundleItemOrNull == null)
	{
		throw new ArgumentNullException("Model.CurrentProductBundleItemOrNull");
	}
	ProductBundleItem bundleItem = Model.CurrentProductBundleItemOrNull;

	StoreFrontConfiguration config = Html.CurrentStoreFrontConfig(true);
	string url = Url.Action("ViewProductByName", "Catalog", new { urlName = bundleItem.Product.UrlName });
	string imageUrl = bundleItem.Product.ImageUrl(Request.ApplicationPath, ViewContext.RouteData);
	decimal? unitPrice = bundleItem.UnitPrice(1);
	decimal? listPrice = bundleItem.ListPrice(1);
	bool showListPrice = config.CartBundleShowPriceOfIncludedItems && config.CartItemListPriceColumnShow && (listPrice.HasValue && listPrice.Value > (unitPrice ?? 0M));
	bool showUnitPrice = config.CartBundleShowPriceOfIncludedItems;
	bool showImage = (imageUrl != null);
	bool showSampleAudio = false;
	if (!string.IsNullOrEmpty(bundleItem.Product.SampleAudioFileName))
	{
		showSampleAudio = true;
	}
}
<script>
	function showItemDetails_@(bundleItem.ProductBundleItemId)()
	{
		$('#BundleItem_@(bundleItem.ProductBundleItemId)').show();
		$('#HideBundleItem_@(bundleItem.ProductBundleItemId)').show();
		$('#ShowBundleItem_@(bundleItem.ProductBundleItemId)').hide();
	}
	function hideItemDetails_@(bundleItem.ProductBundleItemId)()
	{
		$('#BundleItem_@(bundleItem.ProductBundleItemId)').hide();
		$('#HideBundleItem_@(bundleItem.ProductBundleItemId)').hide();
		$('#ShowBundleItem_@(bundleItem.ProductBundleItemId)').show();
	}
</script>
<div class="ProductListItemBox boxshadowjs">
	@if (showImage)
	{
		@(Html.DisplayFor(model => bundleItem.Quantity))@:&nbsp;X&nbsp;
		<img class="BundleItemImage" src="@(imageUrl)" alt="@(Html.Raw(Html.AttributeEncode(bundleItem.Product.Name)))" title="@(Html.Raw(Html.AttributeEncode(bundleItem.Product.Name)))" />
		<br />
		if (showSampleAudio)
		{
			string audioUrl = bundleItem.Product.SampleAudioUrl(Request.ApplicationPath, ViewContext.RouteData);
			<div class="ProductMusicRow">
				<span class="ProductMusic">@(Html.DisplayFor(model => audioUrl, "SampleAudio"))</span>
				<span class="ProductMusicLabel">@(bundleItem.Product.SampleAudioCaptionOrDefault())</span>
			</div>
		}
		if (showListPrice)
		{
			<div class="BundleItemListPriceRow">
				<span class="BundleItemListPriceLabel">@(listPrice.HasValue ? config.CartItemListPriceColumnLabel.OrDefault("List Price") + ": " : "")</span>
				<span class="BundleItemListPrice">@Html.DisplayFor(model => listPrice, "CurrencyOrNA")</span>
			</div>
		}
		if (showUnitPrice)
		{
			<div class="BundleItemUnitPriceRow">
				<span class="BundleItemUnitPriceLabel">@(unitPrice.HasValue ? config.CartItemUnitPriceColumnLabel.OrDefault("Your Price") + ": " : "")</span>
				<span class="BundleItemUnitPrice">@Html.DisplayFor(model => unitPrice, "CurrencyOrCall")</span>
			</div>
		}
		<h4 style="display: inline;">@(bundleItem.Product.Name)</h4>
		<br />
		@:&nbsp;&nbsp;&nbsp;&nbsp;<a id="ShowBundleItem_@(bundleItem.ProductBundleItemId)" href="javascript:showItemDetails_@(bundleItem.ProductBundleItemId)();">Show Details</a>
		<a id="HideBundleItem_@(bundleItem.ProductBundleItemId)" href="javascript:hideItemDetails_@(bundleItem.ProductBundleItemId)();" style="display: none">Hide Details</a>
		@:&nbsp;&nbsp;&nbsp;&nbsp;<a href="@(url)" title="View @(bundleItem.Product.Name) Page">View @(bundleItem.Product.Name) &raquo;</a>
		}
	else
	{
		@(Html.DisplayFor(model => bundleItem.Quantity))@:&nbsp;X&nbsp;
		<h3 style="display: inline;">@(bundleItem.Product.Name)</h3>
		if (showSampleAudio)
		{
			string audioUrl = bundleItem.Product.SampleAudioUrl(Request.ApplicationPath, ViewContext.RouteData);
			<div class="ProductMusicRow">
				<span class="ProductMusic">@(Html.DisplayFor(model => audioUrl, "SampleAudio"))</span>
				<span class="ProductMusicLabel">@(bundleItem.Product.SampleAudioCaptionOrDefault())</span>
			</div>
		}
		if (showListPrice)
		{
			<div class="BundleItemListPriceRow">
				<span class="BundleItemListPriceLabel">@(listPrice.HasValue ? config.CartItemListPriceColumnLabel.OrDefault("List Price") + ": " : "")</span>
				<span class="BundleItemListPrice">@Html.DisplayFor(model => listPrice, "CurrencyOrNA")</span>
			</div>
		}
		if (showUnitPrice)
		{
			<div class="BundleItemUnitPriceRow">
				<span class="BundleItemUnitPriceLabel">@(unitPrice.HasValue ? config.CartItemUnitPriceColumnLabel.OrDefault("Your Price") + ": " : "")</span>
				<span class="BundleItemUnitPrice">@Html.DisplayFor(model => unitPrice, "CurrencyOrCall")</span>
			</div>
		}
		@:&nbsp;&nbsp;&nbsp;&nbsp;<a id="ShowBundleItem_@(bundleItem.ProductBundleItemId)" href="javascript:showItemDetails_@(bundleItem.ProductBundleItemId)();">Show Details</a>
		<a id="HideBundleItem_@(bundleItem.ProductBundleItemId)" href="javascript:hideItemDetails_@(bundleItem.ProductBundleItemId)();" style="display: none">Hide Details</a>
		@:&nbsp;&nbsp;&nbsp;&nbsp;<a href="@(url)" title="View @(bundleItem.Product.Name) Page">View @(bundleItem.Product.Name) &raquo;</a>
		}

	<div id="BundleItem_@(bundleItem.ProductBundleItemId)" class="BundleItemDetails" style="display: none">
		@{ Html.RenderCatalogProductDetailsPartialForBundleItem(); }
	</div>
</div>
