@model int?
@{
	int colLabel = ViewData.ColLabel();
	int colData = ViewData.ColData();
	int colOffset = ViewData.ColOffset();
	bool useHelpLabelPopover = ViewData.UseHelpLabelPopover();
	bool useHelpLabelText = ViewData.UseHelpLabelText();
}
<input name="@(Html.ViewData.TemplateInfo.HtmlFieldPrefix)" type="hidden" value="@(Model)" />
@if ((Model ?? 0) != 0)
{
	<div class="form-group">
		@Html.LabelForModel(new { @class = (colOffset == 0 ? "" : "col-md-offset-" + colOffset + " ") + "col-md-" + colLabel + " title-align-right" })
		<div class="col-md-@(colData) title-align">
			@Html.TextBoxWithWatermarkForModel(new { disabled = "disabled", @readonly = "readonly" })
			@if (useHelpLabelPopover)
			{
				@Html.HelpLabelPopoverForModel()
			}
			@Html.ValidationMessageForModel()
			@if (useHelpLabelText)
			{
				<br />@Html.HelpLabelForModel()
			}
		</div>
	</div>
}
