@model GStore.Models.PageTemplateSection

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="row">
		<h2 class="jumbotron SysAdminCreatePageTitle col-md-offset-2 col-md-10 text-warning title-align">
			Edit Page Template Section
			<br />
			<small>Page Template Section: @Html.DisplayForModel("PageTemplateSectionNoLinks")</small>
		</h2>
	</div>

	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-10">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.PageTemplateId)
			@Html.HiddenFor(model => model.PageTemplateSectionId)
			@Html.HiddenAuditFields()
		</div>
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "SectionDetails", new { id = Model.PageTemplateSectionId }, new { @class = "btn btn-default" })
		</div>
	</div>
	
	<div class="form-horizontal">
		@Html.EditorFor(model => model.Name)
		@Html.EditorFor(model => model.Description)
		@Html.EditorFor(model => model.Order)
		@Html.EditorFor(model => model.DefaultRawHtmlValue)
		@Html.EditorFor(model => model.IsPending)
		@Html.EditorFor(model => model.StartDateTimeUtc)
		@Html.EditorFor(model => model.EndDateTimeUtc)
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "SectionDetails", new { id = Model.PageTemplateSectionId }, new { @class = "btn btn-default" })
		</div>
	</div>

}

<hr />

<div>
	@Html.ActionLink("Back to Page Template Index", "Index")
</div>
