@model GStore.Models.PageTemplateSection
@using GStore.AppHtmlHelpers
@using GStore.Data
<div class="row">
	<h2 class="col-md-offset-3 col-md-6 jumbotron SysAdminDetailsPageTitle text-center text-success">
		Page Template Section Details:
		<br />'@(Model.Name)' [@(Model.PageTemplateSectionId)]
	</h2>
</div>
<div class="row">
	<div class="form-actions no-color text-left col-md-offset-5 col-md-6">
		@Html.ActionLink("OK", "SectionIndex", new { id = Model.PageTemplateId }, new { @class = "btn btn-default" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Edit", "SectionEdit", new { id = Model.PageTemplateSectionId }, new { @class = "btn btn-warning" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Delete", "SectionDelete", new { id = Model.PageTemplateSectionId }, new { @class = "btn btn-danger" })
	</div>
</div>
<hr />
<div class="row">
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.PageTemplate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.PageTemplate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Order)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Order)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DefaultRawHtmlValue)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DefaultRawHtmlValue)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsPending)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsPending)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.StartDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.StartDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EndDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EndDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CreateDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CreateDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CreatedBy)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CreatedBy)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UpdateDateTimeUtc)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UpdateDateTimeUtc)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UpdatedBy)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UpdatedBy)
		</dd>


	</dl>
</div>
<hr />
<div class="row">
	<div class="form-actions no-color text-left col-md-offset-5 col-md-6">
		@Html.ActionLink("OK", "SectionIndex", new { id = Model.PageTemplateId }, new { @class = "btn btn-default" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Edit", "SectionEdit", new { id = Model.PageTemplateSectionId }, new { @class = "btn btn-warning" })
		&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		@Html.ActionLink("Delete", "SectionDelete", new { id = Model.PageTemplateSectionId }, new { @class = "btn btn-danger" })
	</div>
</div>
<hr />
<div>
	@Html.ActionLink("Back to Page Template Index", "Index")
</div>
