@model GStore.Models.PageTemplateSection

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

	<div class="row">
		<h2 class="jumbotron SysAdminCreatePageTitle col-md-offset-2 col-md-10 text-info text-left">
			New Page Template Section
			<br />
			<small>@Html.DisplayFor(model => model.PageTemplate, "PageTemplateNoLinks")</small>
		</h2>
	</div>

    <div class="form-horizontal">
		<div class="col-md-offset-2 col-md-10 text-left">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.PageTemplateId)
			@Html.HiddenFor(model => model.ClientId)
			@Html.HiddenAuditFields()
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10 text-left">
				<input type="submit" value="Create" class="btn btn-info" />
				&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
				@Html.ActionLink("Cancel", "SectionIndex", new { id = Model.PageTemplateId }, new { @class = "btn btn-default" })
			</div>
		</div>

		@Html.EditorFor(model => model.Name)
		@Html.EditorFor(model => model.Description)
		@Html.EditorFor(model => model.Order)
		@Html.EditorFor(model => model.DefaultRawHtmlValue)
		@Html.EditorFor(model => model.IsPending)
		@Html.EditorFor(model => model.StartDateTimeUtc)
		@Html.EditorFor(model => model.EndDateTimeUtc)

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10 text-left">
				<input type="submit" value="Create" class="btn btn-info" />
				&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
				@Html.ActionLink("Cancel", "SectionIndex", new { id = Model.PageTemplateId }, new { @class = "btn btn-default" })
			</div>
		</div>
    </div>
}
<hr />
<div>
	@Html.ActionLink("Back to Page Template Index", "Index")
</div>
