@model MenuViewModel
@{
	string storeFrontName = "GStore";
	if (Model.StoreFront != null)
	{
		storeFrontName = Model.StoreFrontConfig.Name;
	}
}

<!-- NavBar -->
<div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a id="navbarbrandlink" href="@(Url.GStoreLocalUrl("/"))" class="navbar-brand" accesskey="h">
				<img id="NavBarTinyLogo" class="NavBarTinyLogo"
					 src="~/Images/Logo/NavBarTinyLogo.png" alt="@(Html.AttributeEncode(storeFrontName))" title="@(Html.AttributeEncode(storeFrontName))" />
				@(Html.Encode(storeFrontName))
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				@{Html.RenderPartial("_NavBarCatalogPartial", Model); }
				@{Html.RenderPartial("_NavBarMenuPartial", Model);}
				@if (Model.ShowChat)
				{
					<li>@(Html.ActionLink("Chat" + (Model.ChatUserCount.HasValue ? " (" + Model.ChatUserCount.Value.ToString("N0") + ")" : ""), "Index", "Chat", null, new { title = "Click here for Chat", accesskey="c" }))</li>
				}
				@if (Model.ShowBlog)
				{
					<li>@(Html.ActionLink("Blog", "Index", "Blog", new { blogUrlName = "", blogEntryUrlName = "" }, new { title = "Blog", accesskey = "b" }))</li>
				}
			</ul>



			@{Html.RenderPartial("_LoginPartial");}
		</div>
	</div>
</div>

