@model GStore.Models.StoreBinding

@{ ViewData.SetColDisplay(0, 2, 8); }
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

	<div class="row">
		<h2 class="jumbotron SysAdminCreatePageTitle col-md-offset-2 col-md-10 title-align">New Store Binding</h2>
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-info" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
		</div>
	</div>

	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-10">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenAuditFields()
		</div>
	</div>
	
    <div class="form-horizontal">
		@Html.EditorFor(model => model.Client, "FieldClientIdWithPostback")
		@Html.EditorFor(model => model.StoreFrontId, "FieldStoreFrontId")
		@Html.EditorFor(model => model.HostName, "FieldText")
		@Html.EditorFor(model => model.Port, "FieldInt")
		@Html.EditorFor(model => model.RootPath, "FieldText")
		@Html.EditorFor(model => model.UseUrlStoreName, "FieldCheckbox")
		@Html.EditorFor(model => model.UrlStoreName, "FieldText")
		@Html.EditorFor(model => model.Order, "FieldInt")
		@Html.EditorFor(model => model.IsPending, "FieldCheckbox")
		@Html.EditorFor(model => model.StartDateTimeUtc, "FieldDateTime")
		@Html.EditorFor(model => model.EndDateTimeUtc, "FieldDateTime")
    </div>
	
	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-info" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
		</div>
	</div>
}
<hr />
<div>
	@Html.ActionLink("Back to List", "Index")
</div>
