@model GStore.Models.StoreBinding

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

	<div class="row">
		<h2 class="jumbotron SysAdminCreatePageTitle col-md-offset-2 col-md-10 title-align">New Store Binding</h2>
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-info" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
		</div>
	</div>

	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-10">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenAuditFields()
		</div>
	</div>
	
    <div class="form-horizontal">
		@Html.EditorFor(model => model.Client, "ClientWithPostBack")
		@Html.EditorFor(model => model.StoreFront)
		@Html.EditorFor(model => model.HostName)
		@Html.EditorFor(model => model.Port)
		@Html.EditorFor(model => model.RootPath)
		@Html.EditorFor(model => model.UseUrlStoreName)
		@Html.EditorFor(model => model.UrlStoreName)
		@Html.EditorFor(model => model.Order)
		@Html.EditorFor(model => model.StartDateTimeUtc)
		@Html.EditorFor(model => model.EndDateTimeUtc)
		@Html.EditorFor(model => model.IsPending)
    </div>
	
	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-info" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
		</div>
	</div>
}
<hr />
<div>
	@Html.ActionLink("Back to List", "Index")
</div>
