@model ValueListItemEditAdminViewModel

@{
	string statusTextClass = " text-success";
	if (!Model.IsActiveDirect)
	{
		statusTextClass = " text-warning";
	}
}
<script>
	$(document).ready(function () {
		$('#ListItemEditModal_@(Model.Index)').on('hidden.bs.modal', function (e) {
			//ListItem edit is closed
		})
	});

</script>
<style>
	.modal .modal-content label.control-label {
		padding-bottom: 0 !important;
		margin-top: 0 !important;
	}

	.modal .modal-content label.help-label {
		text-align: center;
		padding-bottom: 0 !important;
		margin-top: 0 !important;
	}
</style>
<div id="ListItemViewModal_@(Model.Index)" class="modal modal-lg fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-success">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title text-center">
					List Item '@(Model.Name)' [@(Model.ValueListItemId)]
					<br />
					Value List '@(Model.ValueList.Name)' [@(Model.ValueListId)] - Index: @(Model.Index)
				</h4>
			</div>
			<div class="modal-body">
				<div class="row center-block text-center">
					<div class="col-xs-12">
						<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
						@if (Html.UserHasPermission(GStoreAction.ValueLists_Edit))
						{
							@:&nbsp;&nbsp;|&nbsp;&nbsp;
							@Html.ActionLink("Edit", "Edit", new { id = Model.ValueListId, Tab = "ListItems", ValueListItemId = Model.ValueListItemId }, new { @class = "btn btn-warning" })
						}
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.ValueListItemId, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.ValueListItemId)
						@Html.HiddenFor(model => model.ValueListItemId)
						@Html.HiddenFor(model => model.ValueListId)
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.ValueListItemId, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Name, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Description, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Order, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.Order, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.IsActiveDirect, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align@(statusTextClass)">
						<strong>@(Model.IsActiveDirect ? "ACTIVE" : "INACTIVE")</strong>
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.IsActiveDirect, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.IsPending, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.IsPending, new { htmlAttributes = new { @class = "form-control" } })
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.IsPending, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.StartDateTimeUtc, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.StartDateTimeUtc, new { htmlAttributes = new { @class = "form-control" } })
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.StartDateTimeUtc, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.EndDateTimeUtc, new { @class = "title-align-right control-label col-md-4 small" })
					<div class="col-md-8 title-align">
						@Html.DisplayFor(model => model.EndDateTimeUtc, new { htmlAttributes = new { @class = "form-control" } })
					</div>
					<div class="row">
						@Html.HelpLabelFor(model => model.EndDateTimeUtc, htmlAttributes: new { @class = "col-md-12 help-label" })
					</div>
				</div>

			</div>

			<div class="modal-footer bg-success">
				<div class="row center-block text-center">
					<div class="col-xs-12">
						<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
						@if (Html.UserHasPermission(GStoreAction.ValueLists_Edit))
						{
							@:&nbsp;&nbsp;|&nbsp;&nbsp;
							@Html.ActionLink("Edit", "Edit", new { id = Model.ValueListId, Tab = "ListItems", ValueListItemId = Model.ValueListItemId }, new { @class = "btn btn-warning" })
						}
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
