@model GStore.Models.ViewModels.PageViewModel
@{
	StoreFrontConfiguration storeFrontConfig = Html.CurrentStoreFrontConfig(true);
	if (Model.EditMode)
	{
		Html.RenderPartial("_EditModeTopPartial", Model);
	}
	else if (Model.ShowEditPageLink)
	{
		Html.RenderPartial("_EditLinkTopPartial", Model);
	}
}
	<h1 class="text-danger">Welcome to your new store front at GStore!</h1>
	<h2>@storeFrontConfig.Name</h2>
	Page [@Model.Page.PageId]: @Model.Page.Name
	<br />
	Store Front '@(storeFrontConfig.Name )' [@(storeFrontConfig.StoreFrontId)]
	<br />
	Client '@(storeFrontConfig.Client.Name)' [@storeFrontConfig.Client.ClientId]
	<br />
	Account Admin [@storeFrontConfig.AccountAdmin.UserProfileId]: @storeFrontConfig.AccountAdmin.FullName &lt; @storeFrontConfig.AccountAdmin.Email &gt;
	<br />
	Registered Notify [@storeFrontConfig.RegisteredNotify.UserProfileId]: @storeFrontConfig.RegisteredNotify.FullName &lt; @storeFrontConfig.RegisteredNotify.Email &gt;
	<br />
	Welcome Messages From [@storeFrontConfig.WelcomePerson.UserProfileId]: @storeFrontConfig.WelcomePerson.FullName &lt; @storeFrontConfig.WelcomePerson.Email &gt;
	<br/>
<br />
	GStore.Properties.Settings.AppEnableEmail
@GStore.Properties.Settings.Current.AppEnableEmail
<br />
	GStore.Properties.Settings.AppEnableSMS
@GStore.Properties.Settings.Current.AppEnableSMS
<br />
	GStore.Properties.Settings.AppDefaultLayoutName
	@GStore.Properties.Settings.Current.AppDefaultLayoutName
<br/>

@Html.DisplayPageForm()

@if (Model.EditMode)
{
	Html.RenderPartial("_EditModeBottomPartial", Model);
}
else if (Model.ShowEditPageLink)
{
	Html.RenderPartial("_EditLinkBottomPartial", Model);
}
