@model GStore.Models.Page
@using GStore.AppHtmlHelpers
@{
	ViewBag.Title = Model.PageTitle;
	GStore.Models.Page page = Model;
}

	<h1 class="text-danger">Welcome to your new Store front!</h1>
	Page [@page.PageId]: @Model.Name
	<br />
	StoreFront [@page.StoreFront.StoreFrontId]: @page.StoreFront.Name
	<br />
	Client [@page.Client.ClientId]: @page.Client.Name
	<br />
	Store Admin [@page.StoreFront.Admin.UserProfileId]: @page.StoreFront.Admin.FullName &lt; @page.StoreFront.Admin.Email &gt;
	<br />
	Account Admin [@page.StoreFront.AccountAdmin.UserProfileId]: @page.StoreFront.AccountAdmin.FullName &lt; @page.StoreFront.AccountAdmin.Email &gt;
	<br />
	Registered Notify [@page.StoreFront.RegisteredNotify.UserProfileId]: @page.StoreFront.RegisteredNotify.FullName &lt; @page.StoreFront.RegisteredNotify.Email &gt;
	<br />
	Welcome Messages From [@page.StoreFront.WelcomePerson.UserProfileId]: @page.StoreFront.WelcomePerson.FullName &lt; @page.StoreFront.WelcomePerson.Email &gt;

