@model GStore.Models.ViewModels.PageViewModel
@using GStore.AppHtmlHelpers
@using GStore.Models;
@using GStore.Data;
@if (Model.EditMode)
{
	@Html.Partial("_EditModeTopPartial", Model)
}
else if (Model.ShowEditPageLink)
{
	@Html.Partial("_EditLinkTopPartial", Model)
}
<div class="row">
	<div class="jumbotron">
		@Html.DisplayPageSection("Jumbotron", 1)
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row1Col1", 2)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row1Col2", 3)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row1Col3", 4)
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row2Col1", 5)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row2Col2", 6)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row2Col3", 7)
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row3Col1", 8)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row3Col2", 9)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row3Col3", 10)
	</div>
</div>
@if (Model.EditMode)
{
	@Html.Partial("_EditModeBottomPartial", Model)
}
else if (Model.ShowEditPageLink)
{
	@Html.Partial("_EditLinkBottomPartial", Model)
}
