@model GStore.Models.ViewModels.PageViewModel
@if (Model.EditMode)
{
	Html.RenderPartial("_EditModeTopPartial", Model);
}
else if (Model.ShowEditPageLink)
{
	Html.RenderPartial("_EditLinkTopPartial", Model);
}
<div class="row">
	<div class="jumbotron">
		@Html.DisplayPageSection("Jumbotron", 1, "Jumbotron", "Jumbotron", false, false)
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row1Col1", 2, "Row 1 Column 1", "Row 1 Column 1", false, false)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row1Col2", 3, "Row 1 Column 2", "Row 1 Column 2", false, false)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row1Col3", 4, "Row 1 Column 3", "Row 1 Column 3", false, false)
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row2Col1", 5, "Row 2 Column 1", "Row 2 Column 1", false, false)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row2Col2", 6, "Row 2 Column 2", "Row 2 Column 2", false, false)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row2Col3", 7, "Row 2 Column 3", "Row 2 Column 3", false, false)
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row3Col1", 8, "Row 3 Column 1", "Row 3 Column 1", false, false)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row3Col2", 9, "Row 3 Column 2", "Row 3 Column 2", false, false)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row3Col3", 10, "Row 3 Column 3", "Row 3 Column 3", false, false)
	</div>
</div>

@Html.DisplayPageForm()

@if (Model.EditMode)
{
	Html.RenderPartial("_EditModeBottomPartial", Model);
}
else if (Model.ShowEditPageLink)
{
	Html.RenderPartial("_EditLinkBottomPartial", Model);
}
