@model GStore.Models.ViewModels.PageViewModel
@using GStore.AppHtmlHelpers
@using GStore.Models;
@using GStore.Data;
@if (Model.EditMode)
{
	@Html.Partial("_EditModeTopPartial", Model)
}
else if (Model.ShowEditPageLink)
{
	@Html.Partial("_EditLinkTopPartial", Model)
}
	@Html.DisplayPageSection("Headline1", 1, "<h1 class=\"text-danger\">Welcome to ::storefront.name::!</h1>")
	@Html.DisplayPageSection("Headline2", 2, "<h3>Log in and customize your site with our GStore builder tools.</h3>")
	@Html.DisplayPageSection("BodyText", 3, string.Empty)
	@Html.DisplayPageSection("BodyLink", 4, "<a href=\"http://www.gstore.renog.info/Contact\">Click here to contact us about GStore</a>")

@if (Model.EditMode)
{
	@Html.Partial("_EditModeBottomPartial", Model)
}
else if (Model.ShowEditPageLink)
{
	@Html.Partial("_EditLinkBottomPartial", Model)
}
