@model StoreFront

@{ ViewData.SetColDisplay(0, 2, 8); }
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="row">
		<h2 class="jumbotron SysAdminEditPageTitle col-md-offset-2 col-md-10 text-warning title-align">
			Edit Store Front<br/>
			'@(Model.CurrentConfigOrAny() == null ? "" : Model.CurrentConfigOrAny().Name)' [@(Model.StoreFrontId)]
		</h2>
	</div>
	
	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Details", new { id = Model.StoreFrontId }, new { @class = "btn btn-default" })
		</div>
	</div>

	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-10">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.StoreFrontId)
			@Html.HiddenAuditFields()
		</div>
	</div>
	
	<div class="form-horizontal">
		@Html.EditorFor(model => model.ClientId, "FieldClientId")
		@Html.EditorFor(model => model.Order, "FieldInt")
		@Html.EditorFor(model => model.IsPending, "FieldCheckbox")
		@Html.EditorFor(model => model.StartDateTimeUtc, "FieldDateTime")
		@Html.EditorFor(model => model.EndDateTimeUtc, "FieldDateTime")
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Details", new { id = Model.StoreFrontId }, new { @class = "btn btn-default" })
		</div>
	</div>
}

<hr/>

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
