@model ProductEditAdminViewModel
@{
	string tabBasicActive = string.Empty;
	string tabDescriptionActive = string.Empty;
	string tabPricingActive = string.Empty;
	string tabDisplayActive = string.Empty;
	string tabResourcesActive = string.Empty;
	string tabMetaTagsActive = string.Empty;
	string tabActivationActive = string.Empty;
	string tabBundlesActive = string.Empty;
	
	switch ((Model.ActiveTab ?? string.Empty).ToLower())
	{
		case "":
		case "basic":
			tabBasicActive = "active";
			break;
		case "description":
			tabDescriptionActive = "active";
			break;
		case "pricing":
			tabPricingActive = "active";
			break;
		case "display":
			tabDisplayActive = "active";
			break;
		case "resources":
			tabResourcesActive = "active";
			break;
		case "metatags":
			tabMetaTagsActive = "active";
			break;
		case "activation":
			tabActivationActive = "active";
			break;
		case "bundles":
			tabBundlesActive = "active";
			break;
		default:
			goto case "";
	}

	bool userCanViewBundles = Model.StoreFront.Authorization_IsAuthorized(Html.CurrentUserProfile(true), GStoreAction.Bundles_View);
}
<script>
	function GetActiveTab()
	{
		if (document.getElementById('ActiveTab'))
		{
			return document.getElementById('ActiveTab').value
		}
		return "";
	}
	function SetActiveTab(tabName)
	{
		if (document.getElementById('ActiveTab'))
		{
			document.getElementById('ActiveTab').value = tabName;

			var detailsUrl = @((Url.Action("Details", new { id = Model.ProductId, Tab = "XXXX"}).ToJavaScriptMvcString(true))).replace('XXXX', tabName);
			var editUrl = @((Url.Action("Edit", new { id = Model.ProductId, Tab="XXXX"}).ToJavaScriptMvcString(true))).replace('XXXX', tabName);
			var deleteUrl = @((Url.Action("Delete", new { id = Model.ProductId, Tab = "XXXX"}).ToJavaScriptMvcString(true))).replace('XXXX', tabName);

			if (document.getElementById('DetailsTop'))
			{
				document.getElementById('DetailsTop').href = detailsUrl;
			}
			if (document.getElementById('DetailsBottom'))
			{
				document.getElementById('DetailsBottom').href = detailsUrl;
			}
			if (document.getElementById('EditTop'))
			{
				document.getElementById('EditTop').href = editUrl;
			}
			if (document.getElementById('EditBottom'))
			{
				document.getElementById('EditBottom').href = editUrl;
			}
			if (document.getElementById('DeleteTop'))
			{
				document.getElementById('DeleteTop').href = deleteUrl;
			}
			if (document.getElementById('DeleteBottom'))
			{
				document.getElementById('DeleteBottom').href = deleteUrl;
			}
		}
	}
	function MakeItActive()
	{
		if (document.getElementById('IsPending'))
		{
			document.getElementById('IsPending').checked = false;
		}
		if (document.getElementById('StartDateTimeUtc'))
		{
			document.getElementById('StartDateTimeUtc').value = '@(Html.Raw(DateTime.UtcNow.AddMinutes(-1).ToString().ToJavaScriptString()))';
		}
		if (document.getElementById('EndDateTimeUtc'))
		{
			document.getElementById('EndDateTimeUtc').value = '@(Html.Raw(DateTime.UtcNow.AddYears(100).ToString().ToJavaScriptString()))';
		}
	}
</script>
@Html.HiddenFor(model => model.ActiveTab, new { id = "ActiveTab" })
@{
	DigitalDownloadFileInfo digitalDownloadInfo = new DigitalDownloadFileInfo(Model.DigitalDownloadFileName, Model.ProductId);
}
<hr />
<ul class="nav nav-tabs row col-md-offset-3 col-md-9" style="width:100%">
	<li class="@(tabBasicActive)"><a data-toggle="tab" href="#sectionBasic" onclick="SetActiveTab('Basic');">Basic</a></li>
	<li class="@(tabDescriptionActive)"><a data-toggle="tab" href="#sectionDescription" onclick="SetActiveTab('Description');">Description</a></li>
	<li class="@(tabPricingActive)"><a data-toggle="tab" href="#sectionPricing" onclick="SetActiveTab('Pricing');">Pricing and Availability</a></li>
	<li class="@(tabDisplayActive)"><a data-toggle="tab" href="#sectionDisplay" onclick="SetActiveTab('Display');">Display and Template</a></li>
	<li class="@(tabResourcesActive)"><a data-toggle="tab" href="#sectionResources" onclick="SetActiveTab('Resources');">Resources</a></li>
	<li class="@(tabMetaTagsActive)"><a data-toggle="tab" href="#sectionMetaTags" onclick="SetActiveTab('MetaTags');">Meta Tags</a></li>
	<li class="@(tabActivationActive)"><a data-toggle="tab" href="#sectionActivation" onclick="SetActiveTab('Activation');">Activation</a></li>
	@if (userCanViewBundles)
	{
		<li class="@(tabBundlesActive)"><a data-toggle="tab" href="#sectionBundles" onclick="SetActiveTab('Bundles');">Bundles</a></li>
	}
</ul>

<div class="tab-content">
	<div id="sectionBasic" class="tab-pane fade in @(tabBasicActive)">
		<div class="row">
			<h3 class="col-md-offset-3 col-md-7 bg-success title-align">Basic Info</h3>
		</div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Name)
				@Html.HelpLabelPopoverFor(model => model.Name, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Name)
				<br />@Html.HelpLabelFor(model => model.Name)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.UrlName)
				@Html.HelpLabelPopoverFor(model => model.UrlName, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.UrlName)
				<br />@Html.HelpLabelFor(model => model.UrlName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Order)
				@Html.HelpLabelPopoverFor(model => model.Order, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Order)
				<br />@Html.HelpLabelFor(model => model.Order)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Category)
				@Html.HelpLabelPopoverFor(model => model.Category, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Category)
				<br />@Html.HelpLabelFor(model => model.Category)
			</dd>
		</dl>
	</div>
	<div id="sectionDescription" class="tab-pane fade in @(tabDescriptionActive)">
		<div class="row">
			<h3 class="col-md-offset-3 col-md-7 bg-success title-align">Description</h3>
		</div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.SummaryCaption)
				@Html.HelpLabelPopoverFor(model => model.SummaryCaption, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Model.Product.SummaryCaptionOrDefault(true)
				<br />@Html.HelpLabelFor(model => model.SummaryCaption)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SummaryHtml)
				@Html.HelpLabelPopoverFor(model => model.SummaryHtml, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SummaryHtml)
				<br />@Html.HelpLabelFor(model => model.SummaryHtml)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.TopDescriptionCaption)
				@Html.HelpLabelPopoverFor(model => model.TopDescriptionCaption, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Model.Product.TopDescriptionCaptionOrDefault(true)
				<br />@Html.HelpLabelFor(model => model.TopDescriptionCaption)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.TopDescriptionHtml)
				@Html.HelpLabelPopoverFor(model => model.TopDescriptionHtml, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.TopDescriptionHtml)
				<br />@Html.HelpLabelFor(model => model.TopDescriptionHtml)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.TopLinkLabel)
				@Html.HelpLabelPopoverFor(model => model.TopLinkLabel, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.TopLinkLabel)
				<br />@Html.HelpLabelFor(model => model.TopLinkLabel)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.TopLinkLabel)
				@Html.HelpLabelPopoverFor(model => model.TopLinkLabel, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.TopLinkHref)
				<br />@Html.HelpLabelFor(model => model.TopLinkHref)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.TopLinkHref)
				@Html.HelpLabelPopoverFor(model => model.TopLinkHref, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Model.Product.BottomDescriptionCaptionOrDefault(true)
				<br />@Html.HelpLabelFor(model => model.BottomDescriptionCaption)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.BottomDescriptionHtml)
				@Html.HelpLabelPopoverFor(model => model.BottomDescriptionHtml, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.BottomDescriptionHtml)
				<br />@Html.HelpLabelFor(model => model.BottomDescriptionHtml)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.BottomLinkLabel)
				@Html.HelpLabelPopoverFor(model => model.BottomLinkLabel, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.BottomLinkLabel)
				<br />@Html.HelpLabelFor(model => model.BottomLinkLabel)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.BottomLinkLabel)
				@Html.HelpLabelPopoverFor(model => model.BottomLinkLabel, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.BottomLinkHref)
				<br />@Html.HelpLabelFor(model => model.BottomLinkHref)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.BottomLinkHref)
				@Html.HelpLabelPopoverFor(model => model.BottomLinkHref, placement: PopoverPlacementEnum.top)
			</dt>

			<dt>
				@Html.DisplayNameFor(model => model.FooterHtml)
				@Html.HelpLabelPopoverFor(model => model.FooterHtml, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.FooterHtml)
				<br />@Html.HelpLabelFor(model => model.FooterHtml)
			</dd>
		</dl>
	</div>
	<div id="sectionPricing" class="tab-pane fade in @(tabPricingActive)">
		<div class="row">
			<h3 class="col-md-offset-3 col-md-7 bg-success title-align">Pricing and Availability</h3>
		</div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.ForRegisteredOnly)
				@Html.HelpLabelPopoverFor(model => model.ForRegisteredOnly, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ForRegisteredOnly)
				<br />@Html.HelpLabelFor(model => model.ForRegisteredOnly)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.ForAnonymousOnly)
				@Html.HelpLabelPopoverFor(model => model.ForAnonymousOnly, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ForAnonymousOnly)
				<br />@Html.HelpLabelFor(model => model.ForAnonymousOnly)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.AvailableForPurchase)
				@Html.HelpLabelPopoverFor(model => model.AvailableForPurchase, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.AvailableForPurchase)
				<br />@Html.HelpLabelFor(model => model.AvailableForPurchase)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.MaxQuantityPerOrder)
				@Html.HelpLabelPopoverFor(model => model.MaxQuantityPerOrder, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.MaxQuantityPerOrder)
				<br />@Html.HelpLabelFor(model => model.MaxQuantityPerOrder)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.BaseListPrice)
				@Html.HelpLabelPopoverFor(model => model.BaseListPrice, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.BaseListPrice)
				<br />@Html.HelpLabelFor(model => model.BaseListPrice)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.BaseUnitPrice)
				@Html.HelpLabelPopoverFor(model => model.BaseUnitPrice, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.BaseUnitPrice)
				<br />@Html.HelpLabelFor(model => model.BaseUnitPrice)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.DigitalDownload)
				@Html.HelpLabelPopoverFor(model => model.DigitalDownload, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.DigitalDownload)
				<br />@Html.HelpLabelFor(model => model.DigitalDownload)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.RequestAQuote_Show)
				@Html.HelpLabelPopoverFor(model => model.RequestAQuote_Show, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.RequestAQuote_Show)
				<br />@Html.HelpLabelFor(model => model.RequestAQuote_Show)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.RequestAQuote_Label)
				@Html.HelpLabelPopoverFor(model => model.RequestAQuote_Label, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.RequestAQuote_Label)
				<br />@Html.HelpLabelFor(model => model.RequestAQuote_Label)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.RequestAQuote_Page)
				@Html.HelpLabelPopoverFor(model => model.RequestAQuote_Page, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.RequestAQuote_Page)
				<br />@Html.HelpLabelFor(model => model.RequestAQuote_Page)
			</dd>

		</dl>
	</div>
	<div id="sectionDisplay" class="tab-pane fade in @(tabDisplayActive)">
		<div class="row">
			<h3 class="col-md-offset-3 col-md-7 bg-success title-align">Display and Template</h3>
		</div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Theme)
				@Html.HelpLabelPopoverFor(model => model.Theme, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Theme, new { categoryTheme = Model.Category.Theme })
				<br />@Html.HelpLabelFor(model => model.Theme)
			</dd>
		</dl>
	</div>
	<div id="sectionResources" class="tab-pane fade in @(tabResourcesActive)">
		<div class="row">
			<h3 class="col-md-offset-3 col-md-7 bg-success title-align">Resources</h3>
		</div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.ImageName)
				@Html.HelpLabelPopoverFor(model => model.ImageName, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ImageName)
				<br />@Html.HelpLabelFor(model => model.ImageName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.ImageName) Preview
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ImageName, "ProductCatalogFileInfo")
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.DigitalDownloadFileName)
				@Html.HelpLabelPopoverFor(model => model.DigitalDownloadFileName, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.DigitalDownloadFileName)
				<br />@Html.HelpLabelFor(model => model.DigitalDownloadFileName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.DigitalDownloadFileName) Preview
			</dt>

			<dd>
				@Html.DisplayFor(model => digitalDownloadInfo, "ProductDigitalDownloadFileInfo")
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SampleAudioFileName)
				@Html.HelpLabelPopoverFor(model => model.SampleAudioFileName, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SampleAudioFileName)
				<br />@Html.HelpLabelFor(model => model.SampleAudioFileName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SampleAudioFileName) Preview
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SampleAudioFileName, "ProductCatalogFileInfo")
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SampleAudioCaption)
				@Html.HelpLabelPopoverFor(model => model.SampleAudioCaption, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Model.Product.SampleAudioCaptionOrDefault(true)
				<br />@Html.HelpLabelFor(model => model.SampleAudioCaption)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SampleDownloadFileName)
				@Html.HelpLabelPopoverFor(model => model.SampleDownloadFileName, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SampleDownloadFileName)
				<br />@Html.HelpLabelFor(model => model.SampleDownloadFileName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SampleDownloadFileName) Preview
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SampleDownloadFileName, "ProductCatalogFileInfo")
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SampleDownloadCaption)
				@Html.HelpLabelPopoverFor(model => model.SampleDownloadCaption, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Model.Product.SampleDownloadCaptionOrDefault(true)
				<br />@Html.HelpLabelFor(model => model.SampleDownloadCaption)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SampleImageFileName)
				@Html.HelpLabelPopoverFor(model => model.SampleImageFileName, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SampleImageFileName)
				<br />@Html.HelpLabelFor(model => model.SampleImageFileName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SampleImageFileName) Preview
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SampleImageFileName, "ProductCatalogFileInfo")
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SampleImageCaption)
				@Html.HelpLabelPopoverFor(model => model.SampleImageCaption, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Model.Product.SampleImageCaptionOrDefault(true)
				<br />@Html.HelpLabelFor(model => model.SampleImageCaption)
			</dd>
		</dl>
	</div>
	<div id="sectionMetaTags" class="tab-pane fade in @(tabMetaTagsActive)">
		<div class="row">
			<h3 class="col-md-offset-3 col-md-7 bg-success title-align">Meta Tags</h3>
		</div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.MetaDescription)
				@Html.HelpLabelPopoverFor(model => model.MetaDescription, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.MetaDescription)
				<br />@Html.HelpLabelFor(model => model.MetaDescription)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.MetaKeywords)
				@Html.HelpLabelPopoverFor(model => model.MetaKeywords, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.MetaKeywords)
				<br />@Html.HelpLabelFor(model => model.MetaKeywords)
			</dd>
		</dl>
	</div>

	<div id="sectionActivation" class="tab-pane fade in @(tabActivationActive)">
		<div class="row">
			<h3 class="col-md-offset-3 col-md-7 bg-success title-align">Activation</h3>
		</div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.IsPending)
				@Html.HelpLabelPopoverFor(model => model.IsPending, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.IsPending)
				<br />@Html.HelpLabelFor(model => model.IsPending)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.StartDateTimeUtc)
				@Html.HelpLabelPopoverFor(model => model.StartDateTimeUtc, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.StartDateTimeUtc)
				<br />@Html.HelpLabelFor(model => model.StartDateTimeUtc)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.EndDateTimeUtc)
				@Html.HelpLabelPopoverFor(model => model.EndDateTimeUtc, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.EndDateTimeUtc)
				<br />@Html.HelpLabelFor(model => model.EndDateTimeUtc)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.IsActiveDirect)
				@Html.HelpLabelPopoverFor(model => model.IsActiveDirect, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.IsActiveDirect)
				<br />@Html.HelpLabelFor(model => model.IsActiveDirect)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.IsActiveBubble)
				@Html.HelpLabelPopoverFor(model => model.IsActiveBubble, placement: PopoverPlacementEnum.top)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.IsActiveBubble)
				<br />@Html.HelpLabelFor(model => model.IsActiveBubble)
			</dd>
		</dl>
	</div>

	@if (userCanViewBundles)
	{
		List<ProductBundleItem> bundleItems = Model.Product.ProductBundleItems.AsQueryable().ApplyDefaultSort().ToList();
		<div id="sectionBundles" class="tab-pane fade in @(tabBundlesActive)">
			<div class="row">
				<h3 class="col-md-offset-3 col-md-7 bg-warning title-align">Bundles (@(bundleItems.Count.ToString("N0")))</h3>
			</div>
			@Html.DisplayFor(model => bundleItems, "Bundles")
		</div>
	}
</div>
<hr />
