@model ProductEditAdminViewModel

<div class="row">
	<div class="jumbotron CatalogAdminDeletePageTitle col-md-offset-2 col-md-8 NoTopMarginOrPad NoBottomMarginOrPad">
		<h2 class="text-danger">Confirm Product Delete</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-8">
		@Html.DisplayFor(model => model.Category, "CategoryPath")
		@Html.DisplayFor(model => model.Category, "ChildCategoryDropdownLinks")
		<br /><br />
	</div>
</div>

<div class="row">
	<h3 class="text-danger">Are you sure you want to delete this Product?</h3>
	<h4>@Html.DisplayFor(model => model.Product) </h4>
</div>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.ReturnToFrontEnd)
	<div class="row">
		<div class="form-actions no-color col-md-offset-2 col-md-7">
			<center>
				<input type="submit" value="Delete" class="btn btn-danger" />
				&nbsp;&nbsp;|&nbsp;&nbsp;
				@if (Model.ReturnToFrontEnd)
				{
					@Html.ActionLink("Cancel", "ViewProductByName", "Catalog", new { area = "", urlName = Model.UrlName }, new { @class = "btn btn-default" })
				}
				else
				{
					@Html.ActionLink("Cancel", "Manager", new { ProductCategoryId = Model.ProductCategoryId }, new { @class = "btn btn-default" })
				}
				&nbsp;&nbsp;|&nbsp;&nbsp;
				@Html.ActionLink("Details", "Details", new { id = Model.ProductId, ReturnToFrontEnd = Model.ReturnToFrontEnd, Tab = Model.ActiveTab }, new { id = "DetailsTop", @class = "btn btn-success" })
				&nbsp;&nbsp;|&nbsp;&nbsp;
				@Html.ActionLink("Edit", "Edit", new { id = Model.ProductId, ReturnToFrontEnd = Model.ReturnToFrontEnd, Tab = Model.ActiveTab }, new { id = "EditTop", @class = "btn btn-warning" })
			</center>
		</div>
	</div>
}

@{ Html.RenderPartial("_DetailsPartial"); }

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.ReturnToFrontEnd)
	<div class="row">
		<div class="form-actions no-color col-md-offset-2 col-md-7">
			<center>
				<input type="submit" value="Delete" class="btn btn-danger" />
				&nbsp;&nbsp;|&nbsp;&nbsp;
				@if (Model.ReturnToFrontEnd)
				{
					@Html.ActionLink("Cancel", "ViewProductByName", "Catalog", new { area = "", urlName = Model.UrlName }, new { @class = "btn btn-default" })
				}
				else
				{
					@Html.ActionLink("Cancel", "Manager", new { ProductCategoryId = Model.ProductCategoryId }, new { @class = "btn btn-default" })
				}
				&nbsp;&nbsp;|&nbsp;&nbsp;
				@Html.ActionLink("Details", "Details", new { id = Model.ProductId, ReturnToFrontEnd = Model.ReturnToFrontEnd, Tab = Model.ActiveTab }, new { id = "DetailsBottom", @class = "btn btn-success" })
				&nbsp;&nbsp;|&nbsp;&nbsp;
				@Html.ActionLink("Edit", "Edit", new { id = Model.ProductId, ReturnToFrontEnd = Model.ReturnToFrontEnd, Tab = Model.ActiveTab }, new { id = "EditBottom", @class = "btn btn-warning" })
			</center>
		</div>
	</div>
}
