@model PageTemplateSection
@if (Model == null)
{
	@:(no Page Template Section)
}
else
{
	bool isActiveDirect = Model.IsActiveDirect();
	bool isActiveBubble = Model.IsActiveBubble();
	string className = isActiveBubble ? string.Empty : "text-warning";
	string viewLinkClass = isActiveBubble ? "text-success" : "text-warning";
	string inactiveText = isActiveBubble ? string.Empty : " [INACTIVE]";
	string linkText = "View " + (isActiveBubble ? string.Empty : "Inactive ") + "Page Template Section";

	<span class="@className" style="white-space:nowrap">
		@(Html.DisplayNameForModel()) '@(Html.DisplayFor(model => model.Name))' [@(Html.DisplayFor(model => model.PageTemplateSectionId))]
		@(inactiveText)
	</span>
	@:&nbsp;
	@(Html.ActionLink(linkText, "SectionDetails", "PageTemplateSysAdmin", new { id = Model.PageTemplateSectionId }, new { @class = viewLinkClass }))
	<br />
	@(Html.DisplayFor(m => m.PageTemplate))
}
