<ul class="nav navbar-nav">
	<!-- Dynamic Catalog Admin Menu -->
	@if (Html.UserHasPermission(GStoreAction.Categories_CatalogAdminMenuItem) && Html.UserHasPermission(GStoreAction.Categories_Manager))
	{
		<!-- Categories Menu Item -->
		<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
			@Html.ActionLink("Category Manager", "Manager", "CategoryAdmin", null, new { accesskey = "c" })
		</li>
	}

	@if (Html.UserHasPermission(GStoreAction.Categories_CatalogAdminMenuItem) && Html.UserHasPermission(GStoreAction.Categories_Manager))
	{
		<!-- Products Menu Item -->
		<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
			@Html.ActionLink("Product Manager", "Manager", "ProductAdmin", null, new { accesskey = "p" })
		</li>
	}

	<!-- GStore Menu Item -->
	<li class="dropdown AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" accesskey="h" title="Get Help!">Help<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
			<li class="divider"></li>
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				<a href="mailto:renogmusic@yahoo.com">Support: Email renogmusic@yahoo.com</a>
			</li>
			<li class="divider"></li>
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("GStore System Information", "SystemInfo", "GStore")
			</li>
			<li class="divider"></li>
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("About GStore", "About", "GStore")
			</li>
			<li class="divider"></li>
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2" style="padding-left: 20px">
				UTC Time: @DateTime.UtcNow.ToString()
			</li>
			<li class="divider"></li>
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2" style="padding-left: 20px">
				Server Local Time: @DateTime.UtcNow.ToLocalTime().ToString()
			</li>
		</ul>
	</li>
</ul>
