@model NavBarItemEditAdminViewModel

<script src="~/Scripts/CKEditor/ckeditor.js"></script>
<div class="row">
	<h1 class="jumbotron StoreAdminCreatePageTitle col-md-offset-1 col-md-8">
		<span class="text-info">Create a New Menu Item (advanced)</span>
	</h1>
</div>

@using (Html.BeginForm())
{
	<div class="row">
		<div class="form-actions no-color col-md-offset-3 col-md-6">
			<input type="submit" value="Create Menu Item" class="btn btn-info" />
			&nbsp;&nbsp;|&nbsp;&nbsp;
			@Html.ActionLink("OK / Cancel", "AdvancedManager", null, new { @class = "btn btn-default" })
		</div>
	</div>

	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-9">
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(false, "", new { @class = "text-danger bold" })
		</div>
	</div>

	@Html.EditorForModel("AdvancedNavBarItemEditAdminViewModel")
	
	<div class="row">
		<div class="form-actions no-color col-md-offset-3 col-md-6">
			<input type="submit" value="Create Menu Item" class="btn btn-info" />
			&nbsp;&nbsp;|&nbsp;&nbsp;
			@Html.ActionLink("OK / Cancel", "AdvancedManager", null, new { @class = "btn btn-default" })
		</div>
	</div>

}

