@using GStore.AppHtmlHelpers
@using GStore.Areas.SystemAdmin.Controllers.BaseClasses
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@{
		
		if (!(this.ViewContext.Controller is SystemAdminBaseController))
		{
			throw new ApplicationException("Store Admin controller is not the right controller type. Controllers must inherit from SystemAdminBaseController");
		}

		string title = "GStore System Admin"
			+ " - " + this.ViewContext.RouteData.Values["controller"]
			+ " - " + this.ViewContext.RouteData.Values["action"];
		if (ViewBag.Title != null && (!string.IsNullOrWhiteSpace(ViewBag.Title)))
		{
			title = ViewBag.Title + " - " + title;
		}
	}
	<title>@title</title>

	<meta name="application-name" content="GStore System Admin" />
	<meta name="msapplication-TileColor" content="#880088" />
	<meta name="msapplication-square70x70logo" content="~/Content/Server/Images/Logo/tiny.png" />
	<meta name="msapplication-square150x150logo" content="~/Content/Server/Images/Logo/square.png" />
	<meta name="msapplication-wide310x150logo" content="~/Content/Server/Images/Logo/wide.png" />
	<meta name="msapplication-square310x310logo" content="~/Content/Server/Images/Logo/large.png" />

	<link rel="shortcut icon" href="~/Content/Server/Images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="~/Content/Server/Images/favicon.ico" type="image/x-icon">
	<meta name="description" content="GStore System Admin" />
	<meta name="keywords" content="GStore System Admin" />
	<link rel="apple-touch-icon" href="~/Content/Server/Images/Logo/Logo.png" />
	<link rel="apple-touch-startup-image" href="~/Content/Server/Images/Logo/Logo.png" />

	<script>
		var userName = @(Html.Raw((User.Identity.IsAuthenticated ? "'" + Ajax.JavaScriptStringEncode(User.Identity.Name) + "'": "null" )));
		var googleAnalyticsWebPropertyId = @(Html.GoogleAnalyticsWebPropertyIdValueJs(null));
	</script>

	@Styles.Render("~/Content/Server/Themes/" + GStore.Properties.Settings.Current.SystemAdminThemeFolderName + "/Bootstrap.min.css")
	@Styles.Render("~/Content/Server/Styles/GStoreApp.css")
	@Styles.Render("~/Content/Server/Styles/Styles.css")

	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/bootstrap")
	<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
	<script src="~/signalr/hubs"></script>
	@Scripts.Render("~/Content/Server/Scripts/GStoreApp.js")
	@Scripts.Render("~/Content/Server/Scripts/Scripts.js")
</head>
<body>
	@Html.Partial("_SystemAdmin_MenuPartial")
	<div class="container body-content">
		<!-- top alert container for dynamic alerts-->
		<div id="usermessagecontainer" style="padding-top: 2em"></div>
		@RenderBody()
		<hr />
		<a name="UserMessagesBottom"></a>
		<div id="usermessagebottomcontainer"></div>
		@Html.Partial("_FooterPartial")
	</div>

	@RenderSection("scripts", required: false)

	@Html.RenderUserMessages()
	@Html.RenderUserMessagesBottom()
	@Html.RenderAnnouncements()
	@Html.RenderGaEvents()
</body>
</html>
