@using GStore.AppHtmlHelpers
@using GStore.Models
@using GStore.Data
<!-- System Admin Dropdown Menus -->
<ul class="nav navbar-nav">

	<!-- Clients Menu Item -->
	<li class="dropdown AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Clients">Clients<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("Client Manager", "Index", "ClientSysAdmin")
			</li>
			<li class="nav-divider"></li>
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Create a New Client", "Create", "ClientSysAdmin")
			</li>
		</ul>
	</li>

	<!-- storeFronts Menu Item -->
	<li class="dropdown AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="StoreFronts">StoreFronts<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("StoreFront Manager", "Index", "StoreFrontSysAdmin")
			</li>
			<li class="nav-divider"></li>
			<li class="AdminMenuItemLevel3 AdminMenuItemLevel3">
				@Html.ActionLink("Create a New StoreFront", "Create", "StoreFrontSysAdmin")
			</li>
		</ul>
	</li>

	<!-- Bindings Commands Menu Item -->
	<li class="dropdown AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Bindings">Bindings<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("Bindings Manager", "Index", "BindingsSysAdmin")
			</li>
			<li class="nav-divider"></li>
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("Create new Binding", "Create", "BindingsSysAdmin")
			</li>
		</ul>
	</li>

	<!-- Help Menu -->
	<li class="dropdown AdminMenuItem AdminMenuItemLevel1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Help">Help<span class="caret"></span></a>
		<ul class="dropdown-menu AdminMenuChildContainer AdminMenuChildContainerLevel1" role="menu">
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				<a href="mailto:renogmusic@yahoo.com">Support: Email renogmusic@yahoo.com</a>
			</li>
			<li class="divider"></li>
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("GStore System Information", "SystemInfo", "GStore")
			</li>
			<li class="divider"></li>
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("Application Settings", "Settings", "GStore")
			</li>
			<li class="divider"></li>
			<li class="AdminMenuItemLevel2 AdminMenuItemLevel2">
				@Html.ActionLink("About GStore", "About", "GStore")
			</li>
		</ul>
	</li>

</ul>