@model GStore.Models.UserProfile

@using (Html.BeginForm())
{
	SelectList userProfileList = ViewBag.UserProfileList as SelectList;

	@Html.AntiForgeryToken()

	<div class="row">
		<h2 class="jumbotron SysAdminEditPageTitle col-md-offset-2 col-md-10 text-warning title-align">
			Edit User Profile
			<br />
			'@(Model.FullName)' &lt;@(Model.Email)&gt; [@(Model.UserProfileId)]
		</h2>
	</div>
	
	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Details", new { id = Model.UserProfileId }, new { @class = "btn btn-default" })
		</div>
	</div>
	
	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-10">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.UserProfileId)
			@Html.HiddenAuditFieldsOptional()
		</div>
	</div>

	<div class="row form-horizontal">
		@Html.EditorFor(model => model.Client, "ClientNullableWithPostback")
		@Html.EditorFor(model => model.StoreFront, "StoreFrontNullable")
		@Html.EditorFor(model => model.UserId)
		@Html.EditorFor(model => model.UserName)
		@Html.EditorFor(model => model.Email)
		@Html.EditorFor(model => model.FullName)
		@Html.EditorFor(model => model.Order)
		@Html.EditorFor(model => model.SignupNotes)
		@Html.EditorFor(model => model.SendMoreInfoToEmail)
		@Html.EditorFor(model => model.EntryDateTime)
		@Html.EditorFor(model => model.EntryRawUrl)
		@Html.EditorFor(model => model.EntryUrl)
		@Html.EditorFor(model => model.EntryReferrer)
		@Html.EditorFor(model => model.AllowUsersToSendSiteMessages)
		@Html.EditorFor(model => model.NotifyAllWhenLoggedOn)
		@Html.EditorFor(model => model.NotifyOfSiteUpdatesToEmail)
		@Html.EditorFor(model => model.SubscribeToNewsletterEmail)
		@Html.EditorFor(model => model.SendSiteMessagesToEmail)
		@Html.EditorFor(model => model.SendSiteMessagesToSms)
		@Html.EditorFor(model => model.IsPending)
		@Html.EditorFor(model => model.StartDateTimeUtc)
		@Html.EditorFor(model => model.EndDateTimeUtc)
	</div>
	
	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Details", new { id = Model.UserProfileId }, new { @class = "btn btn-default" })
		</div>
	</div>
}

<hr />

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
