@model GStore.Models.Client

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="row">
		<h2 class="jumbotron SysAdminCreatePageTitle col-md-offset-2 col-md-10 text-info title-align">New Client</h2>
	</div>
	
	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-info" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
		</div>
	</div>
	
	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-10">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenAuditFields()
		</div>
	</div>

	<div class="form-horizontal">
		@Html.EditorFor(model => model.Name)
		@Html.EditorFor(model => model.Folder)
		@Html.EditorFor(model => model.Order)
		@Html.EditorFor(model => model.EnablePageViewLog)
		@Html.EditorFor(model => model.EnableNewUserRegisteredBroadcast)
		@Html.EditorFor(model => model.UseSendGridEmail)
		@Html.EditorFor(model => model.SendGridMailAccount)
		@Html.EditorFor(model => model.SendGridMailPassword)
		@Html.EditorFor(model => model.SendGridMailFromEmail)
		@Html.EditorFor(model => model.SendGridMailFromName)
		@Html.EditorFor(model => model.UseTwilioSms)
		@Html.EditorFor(model => model.TwilioSid)
		@Html.EditorFor(model => model.TwilioToken)
		@Html.EditorFor(model => model.TwilioFromPhone)
		@Html.EditorFor(model => model.TwilioSmsFromName)
		@Html.EditorFor(model => model.TwilioSmsFromEmail)
		@Html.EditorFor(model => model.IsPending)
		@Html.EditorFor(model => model.StartDateTimeUtc)
		@Html.EditorFor(model => model.EndDateTimeUtc)
	</div>
	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-info" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
		</div>
	</div>
}
