@model GStore.Models.Client
<h2>Confirm Client Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Folder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Folder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnablePageViewLog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnablePageViewLog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnableNewUserRegisteredBroadcast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnableNewUserRegisteredBroadcast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDateTimeUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateTimeUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateTimeUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateTimeUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseSendGridEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseSendGridEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendGridMailAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendGridMailAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendGridMailPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendGridMailPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendGridMailFromEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendGridMailFromEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendGridMailFromName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendGridMailFromName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseTwilioSms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseTwilioSms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwilioSid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwilioSid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwilioToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwilioToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwilioFromPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwilioFromPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwilioSmsFromName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwilioSmsFromName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwilioSmsFromEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwilioSmsFromEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDateTimeUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDateTimeUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDateTimeUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDateTimeUtc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
