@model GStore.Models.Client

<div class="row">
	<h2 class="col-md-offset-3 col-md-6 jumbotron SysAdminDeletePageTitle text-danger">Confirm Client Seek and Destroy</h2>
</div>

<div class="row">
	<h3 class="col-md-offset-4 col-md-8 text-danger title-align">
		Ready to seek and destroy Client '@(Model.Name)' [@(Model.ClientId)] and all its data?<br/>
		Preview the list below.<br/>
	</h3>
</div>

<div class="row">
	<div class="form-actions col-md-offset-4 col-md-8 no-color">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			@Html.CheckBox("deleteEventLogs", true)@:<label for="deleteEventLogs">Delete Event Logs</label>
			@:&nbsp;&nbsp;
			@Html.CheckBox("deleteFolders", true)@:<label for="deleteFolders">Delete Folders</label>
			
			<input type="submit" value="Send Command to Seek and Destroy" class="btn btn-danger" />
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Back to Simple Delete", "Delete", new { id = Model.ClientId }, new { @class = "btn btn-danger" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }, new { @class = "btn btn-warning" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Details", "Details", new { id = Model.ClientId }, new { @class = "btn btn-success" });
		}
	</div>
</div>

<hr />

<div class="row">
	<pre class="col-xs-offset-2 col-xs-8 text-left" text-left>
		@(ViewData["SeekAndDestroySummary"] as string)
	</pre>
</div>

<hr />

<div class="row">
	<div class="form-actions col-md-offset-4 col-md-8 no-color">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			@Html.CheckBox("deleteEventLogs", true, new { id = "deleteEventLogs2" })@:<label for="deleteEventLogs2">Delete Event Logs</label>
			@:&nbsp;&nbsp;
			@Html.CheckBox("deleteFolders", true, new { id = "deleteFolders2" })@:<label for="deleteFolders2">Delete Folders</label>
			<input type="submit" value="Send Command to Seek and Destroy" class="btn btn-danger" />
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Back to Simple Delete", "Delete", new { id = Model.ClientId  }, new { @class = "btn btn-danger" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }, new { @class = "btn btn-warning" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Details", "Details", new { id = Model.ClientId }, new { @class = "btn btn-success" });
		}
	</div>
</div>

<hr />

<p>
	@Html.ActionLink("Back to List", "Index")
</p>
