@model GStore.Models.ViewModels.CatalogViewModel
@{
	List<Product> products = Model.CurrentProductsListOrNull;
	if (products == null)
	{
		@:There are no products in this category.
	}
	else
	{
		@:<div class="row ProductListContainer">
		foreach (Product product in products)
		{
			@:<div class="ProductListItem col-sm-@(Model.StoreFrontConfig.CatalogProductColSm) col-md-@(Model.StoreFrontConfig.CatalogProductColMd) col-lg-@(Model.StoreFrontConfig.CatalogProductColLg)">

			string url = Url.Action("ViewProductByName", "Catalog", new { urlName = product.UrlName });
			string imageUrl = product.ImageUrl(Request.ApplicationPath);

			@:<a class="ProductListImageLink" href="@(url)"><img class="CategoryListImage" src="@(imageUrl)" title="@(Html.Raw(Html.AttributeEncode(product.Name)))" /></a>
			@:<br />
			@:<a class="ProductListTextLink" href="@(url)">@(product.Name)</a>
			@:</div>


		}
		@:</div>
	}
}
