@model GStore.Models.ViewModels.CatalogViewModel
@using GStore.AppHtmlHelpers;
@using GStore.Data;
@using GStore.Models;

@{
	List<Product> products = Model.CurrentProductsListOrNull;
	if (products == null)
	{
		@:There are no products in this category.
	}
	else
	{
		@:<div class="row ProductListContainer">
		foreach (Product product in products)
		{
			@:<div class="ProductListItem col-sm-@(Model.StoreFront.CatalogProductColSm) col-md-@(Model.StoreFront.CatalogProductColMd) col-lg-@(Model.StoreFront.CatalogProductColLg)">

			string url = Url.Action("ViewProductByName", "Catalog", new { urlName = product.UrlName });
			string imageUrl = product.ImageUrl(Request.ApplicationPath);

			@:<a class="ProductListImageLink" href="@(url)"><img class="CategoryListImage" src="@(imageUrl)" title="@(Html.AttributeEncode(product.Name))" /></a>
			@:<br />
			@:<a class="ProductListTextLink" href="@(url)">@(Html.Encode(product.Name))</a>
			@:</div>


		}
		@:</div>
	}
}
