@model GStore.Models.ViewModels.CatalogViewModel
<!-- View Product Details Default Start -->
@{
	Product product = Model.CurrentProductOrNull;
	bool showAddToCart = false;
	string addToCartText = "";
	if (Model.StoreFrontConfig != null)
	{
		showAddToCart = true;
		addToCartText = Model.StoreFrontConfig.UseShoppingCart ? "Add to Cart" : "Buy Now";
	}
	decimal price = product.UnitPrice(1);

	ViewBag.Title = product.Name + " - " + product.Category.Name;

	string imageUrl = product.ImageUrl(Request.ApplicationPath, ViewContext.RouteData);

	bool showSampleAudioDownloadLink = true;

	<div class="row">
		<div class="col-md-offset-3 col-md-6 ProductListItemBox">
			<center>
				@if (imageUrl != null)
				{
					<img class="ViewProductImage" src="@(imageUrl)" alt="@(Html.Raw(Html.AttributeEncode(product.Name)))" title="@(Html.Raw(Html.AttributeEncode(product.Name)))" />
					<br />
				}
				<h2>@Html.DisplayFor(model => product.Name)</h2>
			</center>
		</div>
		<div class="col-md-2">
			@if (showAddToCart)
			{
				<h1 class="text-success">@Html.DisplayFor(model => price, "Currency")</h1>
				@Html.ActionLink(addToCartText, "Add", "Cart", new { id = product.UrlName }, new { @class = "btn btn-default" })
			}
		</div>
	</div>
}

<hr/>
@if (!string.IsNullOrWhiteSpace(product.SummaryHtml))
{
	string summaryCaption = product.SummaryCaptionOrDefault();
	<div class="btn btn-info NoClick">
		@summaryCaption
	</div>
	<div class="row">
		@Html.Raw(Html.ReplaceVariables(product.SummaryHtml))
		<hr />
	</div>
}

@if (!string.IsNullOrWhiteSpace(product.TopDescriptionHtml))
{
	<div class="row">
		<div class="btn btn-info NoClick">
			@product.TopDescriptionCaptionOrDefault()
		</div>
	</div>
	<div class="row">
		@Html.Raw(Html.ReplaceVariables(product.TopDescriptionHtml))
		<hr />
	</div>
}

@if (!string.IsNullOrWhiteSpace(product.SampleAudioFileName))
{
	string audioType = "audio/mpeg";
	if (product.SampleAudioFileName.FileExtensionIs("wav"))
	{
		audioType = "audio/wav";
	}
	else if (product.SampleAudioFileName.FileExtensionIs("ogg"))
	{
		audioType = "audio/ogg";
	}
	string sampleAudioCaption = product.SampleAudioCaptionOrDefault();
	string sampleAudioUrl = product.SampleAudioUrl(Request.ApplicationPath, ViewContext.RouteData);
	<div class="btn btn-info NoClick">
		@sampleAudioCaption
	</div>
	<div class="row">
		<audio controls="controls" title="@(sampleAudioCaption)" preload="metadata" onplay="@Html.GaEventScript("Product-Sample-Play", product.Name, "Product Details Page")">
			<source title="Sample" src="@Html.Raw(sampleAudioUrl)" type="@(audioType)" />
		</audio>
		@if (showSampleAudioDownloadLink)
		{
			<br/>
			<a href="@(Html.Raw(sampleAudioUrl))">Download Audio File</a>
		}
		<hr />
	</div>
}

@if (!string.IsNullOrWhiteSpace(product.SampleDownloadFileName))
{
	string sampleDownloadCaption = product.SampleDownloadCaptionOrDefault();
	string sampleDownloadUrl = product.SampleDownloadFileUrl(Request.ApplicationPath, ViewContext.RouteData);
	<div class="btn btn-info NoClick">
		@sampleDownloadCaption
	</div>
	<div class="row">
		<a href="@(Html.Raw(sampleDownloadUrl))">Download @(sampleDownloadCaption)</a>
		<hr />
	</div>
}

@if (!string.IsNullOrWhiteSpace(product.SampleImageFileName))
{
	string sampleImageCaption = product.SampleImageCaptionOrDefault();
	string sampleImageUrl = product.SampleImageFileUrl(Request.ApplicationPath, ViewContext.RouteData);
	<div class="btn btn-info NoClick">
		@sampleImageCaption
	</div>
	<div class="row">
		<a href="@(Html.Raw(sampleImageUrl))">
			<img class="ViewProductSampleImage" src="@(Html.Raw(sampleImageUrl))" alt="@(sampleImageCaption)" title="@(sampleImageCaption)" />
			<br/>Click here to view full size
		</a>
		<hr />
	</div>

}

@if (product.DigitalDownload)
{
	<div class="btn btn-info NoClick">
		Digital Download
	</div>
	<div class="row">
		You will receive an email link to download this file after checkout.
		<hr />
	</div>
}

@if (!string.IsNullOrWhiteSpace(product.BottomDescriptionHtml))
{
	string bottomDescriptionCaption = product.BottomDescriptionCaptionOrDefault();
	<div class="row">
		<div class="btn btn-info NoClick">
			@bottomDescriptionCaption
		</div>
	</div>
	<div class="row">
		@Html.Raw(Html.ReplaceVariables(product.BottomDescriptionHtml))
		<hr />
	</div>
}

@if (showAddToCart)
{
	<h3>@Html.DisplayFor(model => product.Name)</h3>
	<h1 class="text-success">@Html.DisplayFor(model => price, "Currency")</h1>
	@Html.ActionLink(addToCartText, "Add", "Cart", new { id = product.UrlName }, new { @class = "btn btn-default" })
}
@if (!string.IsNullOrWhiteSpace(product.FooterHtml))
{
	@Html.Raw(Html.ReplaceVariables(product.FooterHtml))
}
<!-- View Product Details Default End -->
