@model GStore.Models.ViewModels.CatalogViewModel
<!-- Product Detail Default Start -->
@{
	if (Model.CurrentProductOrNull == null)
	{
		throw new ApplicationException("Model.CurrentProductOrNull is null, set in controller for this page");
	}

	Product product = Model.CurrentProductOrNull;
	ViewBag.Title = product.Name + " - " + product.Category.Name;
	UserProfile profile = Html.CurrentUserProfile(false);
	bool userCanEditProduct = false;
	if (profile != null && Model.StoreFront.Authorization_IsAuthorized(profile, GStoreAction.Products_Edit))
	{
		userCanEditProduct = true;
	}

}
<div class="row">
	<div class="CategoryPath col-xs-12 text-center">
		<h1>@(Model.StoreFrontConfig.CatalogTitle)</h1>
		@Html.ProductCategoryWithParentLinks(product.Category, "Top", true) &gt; @product.Name
	</div>
</div>
@Html.Raw(Html.ReplaceVariables(Model.StoreFrontConfig.CatalogHeaderHtml))
@{ Html.RenderPartial("_ViewProduct_" + Model.CurrentProductOrNull.Category.ProductDetailTemplate.ToString().OrDefault("Default") + "_Partial", Model);}
@Html.Raw(Html.ReplaceVariables(Model.StoreFrontConfig.CatalogFooterHtml))
@if (userCanEditProduct)
{
	<hr />
	@Html.ActionLink("Edit Product", "Edit", "ProductAdmin", new { area = "CatalogAdmin", id = product.ProductId, ReturnToFrontEnd = true }, null)
}
<!-- Product Detail Default End -->
