@model GStore.Models.ViewModels.ForgotPasswordViewModel
@using GStore.AppHtmlHelpers
@using GStore.Data
@using GStore.Models

@{
	ViewBag.Title = "Email Address Not Found";
	StoreFront storeFront = Html.CurrentStoreFront(false);
	bool showRegisterLink = true;
	string registerText = "Sign-up";
	if (storeFront != null)
	{
		showRegisterLink = storeFront.AccountLoginShowRegisterLink;
		registerText = storeFront.AccountLoginRegisterLinkText;
	}

}

<div class="row">
	<h2 class="AccountTitle jumbotron col-md-offset-2 col-md-7 title-align text-danger">@ViewBag.Title</h2>
</div>

<div class="row">
	<p class="col-md-offset-2 col-md-8 title-align">
		The Email address you entered @(Model.Email) was not found.
		<br/>
		@{
			<br/>
			@:<strong>Would you like to @(registerText) for a new account?</strong><br/><br/>
			if (showRegisterLink)
			{
				@Html.ActionLink(registerText, "Register", null, new { @class = "btn btn-warning" })
			}
			@:&nbsp;&nbsp;|&nbsp;&nbsp;
			@Html.GStoreLocalLink("Back to Home Page", "/", "class = 'btn btn-default'")
}

	</p>
</div>



@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
