@model GStore.Models.ViewModels.ForgotPasswordViewModel
@{
	ViewBag.Title = "Forgot your password?";
	bool checkingOut = Model.CheckingOut ?? false;
	object routeValues = null;
	if (checkingOut)
	{
		routeValues = new { CheckingOut = checkingOut };
	}

	ViewData.SetColDisplay(0, 2, 9);
}
<div class="row">
	<h2 class="AccountTitle jumbotron col-md-offset-2 col-md-7 title-align text-warning">@ViewBag.Title</h2>
</div>


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.CheckingOut)
	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-7">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
		</div>
	</div>

	if (checkingOut)
	{
		<div class="row">
			<div class="form-group col-xs-12">
				@Html.ActionLink("Return to Checkout as a Guest", "LoginOrGuest", "Checkout", new { ContinueAsGuest = true }, new { @class = "btn btn-info" })
			</div>
		</div>
	}
	
	<div class="form-horizontal">
		@Html.EditorFor(model => model.Email, "FieldEmail")
	</div>
	
	<hr/>
	
	<div class="form-actions row">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-primary" value="Send Reset Link" />
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
	$(document).ready(function () {
		$('input:text:first').focus();
	})
</script>
}
