@model GStore.Models.ValueList
@using GStore.AppHtmlHelpers
@using GStore.Data

<style>
	table th {
		text-align: center;
	}

	table td {
		text-align: center;
	}
</style>

<h2 class="jumbotron SysAdminIndexPageTitle col-md-12">
	Value List Item Manager
	<br /><small>Value List: @Html.DisplayForModel("ValueListNoLinks")</small>
</h2>

<div class="row">
	<div class="form-actions no-color col-md-offset-5 col-md-6">
		@using (Html.BeginForm("ListItemFastAdd", "ValueListSysAdmin", FormMethod.Post))
		{
			@Html.ActionLink("OK", "Details", new { id = Model.ValueListId }, new { @class = "btn btn-default" })
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Create a New Value", "ListItemCreate", new { id = Model.ValueListId }, new { @class = "btn btn-info" })
			@Html.AntiForgeryToken()
			@Html.HiddenFor(model => model.ValueListId)
			@:&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@: Fast Add Value @Html.TextBox("StringValue")
			<input type="submit" value="Add Value" class="btn btn-info" />
		}
	</div>
</div>

<hr />

@if (Model.ValueListItems.Count() == 0)
{
	<h2 class="text-info">This list is empty.</h2>
	<h3 class="text-info">@Html.ActionLink("Click here to Create a New Value", "ListItemCreate", new { id = Model.ValueListId }, new { @class = "btn btn-info" })</h3>
}
else
{
	GStore.Models.ValueListItem firstRecord = Model.ValueListItems.First();
	<div class="table-responsive">
		<table class="table table-hover table-striped">
			<tr>
				<th>@Html.ActionSortLink("Default Sort", "ListItemIndex", string.Empty)</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.ValueListItemId, "ListItemIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.Name, "ListItemIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.Order, "ListItemIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.IntegerValue, "ListItemIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.StringValue, "ListItemIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.Description, "ListItemIndex")
				</th>
				<th class="small">
					@Html.ActionSortLink("Status", "ListItemIndex", "Status")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.IsPending, "ListItemIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.StartDateTimeUtc, "ListItemIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.EndDateTimeUtc, "ListItemIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.CreateDateTimeUtc, "ListItemIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.CreatedBy, "ListItemIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.UpdateDateTimeUtc, "ListItemIndex")
				</th>
				<th class="small">
					@Html.ActionSortLinkFor(model => firstRecord.UpdatedBy, "ListItemIndex")
				</th>
				<th></th>
			</tr>

			@foreach (var item in Model.ValueListItems)
		{
			bool clientIsActive = item.Client.IsActiveDirect();
			bool valueListIsActive = item.ValueList.IsActiveDirect();
			bool valueListItemIsActive = item.IsActiveDirect();
			bool isAllActive = valueListItemIsActive && valueListIsActive && clientIsActive;
			string rowClass = (isAllActive ? "" : "text-warning");

				<tr class="@(rowClass)" onclick="GoToUrl('@Html.JavaScriptEncode(Url.Action("ListItemDetails", new { @id = item.ValueListItemId }))');">
					<td>
						@Html.ActionLink("Details", "ListItemDetails", new { id = item.ValueListItemId }, new { @class = "btn-sm btn-success" })
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ValueListItemId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Order)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsInteger) @Html.DisplayFor(modelItem => item.IntegerValue)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsString) @Html.DisplayFor(modelItem => item.StringValue)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td>
						@if (valueListItemIsActive)
					{
							<span class="text-success">Active</span>
					}
					else
					{
							<span class="text-warning"><strong>Inactive</strong></span>
							<br />
							@Html.ActionLink("Activate Value List Item", "ActivateListItem", new { id = item.ValueListItemId }, new { @class = "btn btn-sm btn-warning" });
					}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsPending)
					</td>
					<td class="small">
						@Html.DisplayFor(modelItem => item.StartDateTimeUtc)
					</td>
					<td class="small">
						@Html.DisplayFor(modelItem => item.EndDateTimeUtc)
					</td>
					<td class="small">
						@Html.DisplayFor(modelItem => item.CreateDateTimeUtc)
					</td>
					<td class="small">
						@Html.DisplayFor(modelItem => item.CreatedBy.UserId)
					</td>
					<td class="small">
						@Html.DisplayFor(modelItem => item.UpdateDateTimeUtc)
					</td>
					<td class="small">
						@Html.DisplayFor(modelItem => item.UpdatedBy.UserId)
					</td>
					<td>
						<span style="white-space: nowrap">
							@Html.ActionLink("Edit", "ListItemEdit", new { id = item.ValueListItemId }, new { @class = "btn-sm btn-warning" })
							@Html.ActionLink("Delete", "ListItemDelete", new { id = item.ValueListItemId }, new { @class = "btn-sm btn-danger" })
						</span>
					</td>
				</tr>
		}

		</table>
	</div>

	<div class="row">
		<div class="form-actions no-color col-md-offset-5 col-md-6">
			@Html.ActionLink("OK", "Details", new { id = Model.ValueListId }, new { @class = "btn btn-default" })
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Create a New Value", "ListItemCreate", new { id = Model.ValueListId }, new { @class = "btn btn-info" })
		</div>
	</div>
}
