@model GStore.Models.ValueListItem

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

	<div class="row">
		<h2 class="jumbotron SysAdminCreatePageTitle col-md-offset-2 col-md-10 text-warning">
			Edit Value List Item
			<br /><small>@Html.DisplayForModel("ValueListItemNoLinks")</small>
		</h2>
	</div>

	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "ListItemDetails", new { id = Model.ValueListItemId }, new { @class = "btn btn-default" })
		</div>
	</div>

	<div class="row">
		<div class="form-validation col-md-offset-2 col-md-10">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.ValueListId)
			@Html.HiddenFor(model => model.ValueListItemId)
			@Html.HiddenFor(model => model.ClientId)
			@Html.HiddenAuditFields()
		</div>
	</div>
	
    <div class="form-horizontal">
		@Html.EditorFor(model => model.Name)
		@Html.EditorFor(model => model.Description)
		@Html.EditorFor(model => model.Order)
		@Html.EditorFor(model => model.IsInteger)
		@Html.EditorFor(model => model.IntegerValue)
		@Html.EditorFor(model => model.IsString)
		@Html.EditorFor(model => model.StringValue)
		@Html.EditorFor(model => model.IsPending)
		@Html.EditorFor(model => model.StartDateTimeUtc)
		@Html.EditorFor(model => model.EndDateTimeUtc)
    </div>
	
	<div class="row">
		<div class="form-actions col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-warning" />
			&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
			@Html.ActionLink("Cancel", "ListItemDetails", new { id = Model.ValueListItemId }, new { @class = "btn btn-default" })
		</div>
	</div>
}

<hr />

<div>
	@Html.ActionLink("Back to Value List Index", "Index")
</div>
