@model PageViewModel
@{
	ViewData["PageTemplateAutoSync"] = false;
	bool shareByEmailEnabled = Settings.AppEnableEmail && Html.CurrentClient(true).UseSendGridEmail;
}
@if (Model.ViewMode)
{
	Html.RenderPartial("_ViewModeTopPartial", Model);
}
else if (Model.EditMode)
{
	Html.RenderPartial("_EditModeTopPartial", Model);
}
@if (Model.ShowEditPageLink)
{
	Html.RenderPartial("_EditLinkTopPartial", Model);
}
<div id="PageContent">
	<div class="row">
		<div class="jumbotron">
			@Html.DisplayPageSection("Jumbotron", 1, "Jumbotron", "Jumbotron", "<h1>", "</h1>", "", false, false)
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			@Html.DisplayPageSection("Row1Col1", 2, "Row 1 Column 1", "Row 1 Column 1", "<h2>", "</h2>", "", false, false)
		</div>
		<div class="col-sm-4">
			@Html.DisplayPageSection("Row1Col2", 3, "Row 1 Column 2", "Row 1 Column 2", "<h2>", "</h2>", "", false, false)
		</div>
		<div class="col-sm-4">
			@Html.DisplayPageSection("Row1Col3", 4, "Row 1 Column 3", "Row 1 Column 3", "<h2>", "</h2>", "", false, false)
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			@Html.DisplayPageSection("Row2Col1", 5, "Row 2 Column 1", "Row 2 Column 1", "<h2>", "</h2>", "", false, false)
		</div>
		<div class="col-sm-4">
			@Html.DisplayPageSection("Row2Col2", 6, "Row 2 Column 2", "Row 2 Column 2", "<h2>", "</h2>", "", false, false)
		</div>
		<div class="col-sm-4">
			@Html.DisplayPageSection("Row2Col3", 7, "Row 2 Column 3", "Row 2 Column 3", "<h2>", "</h2>", "", false, false)
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			@Html.DisplayPageSection("Row3Col1", 8, "Row 3 Column 1", "Row 3 Column 1", "<h2>", "</h2>", "", false, false)
		</div>
		<div class="col-sm-4">
			@Html.DisplayPageSection("Row3Col2", 9, "Row 3 Column 2", "Row 3 Column 2", "<h2>", "</h2>", "", false, false)
		</div>
		<div class="col-sm-4">
			@Html.DisplayPageSection("Row3Col3", 10, "Row 3 Column 3", "Row 3 Column 3", "<h2>", "</h2>", "", false, false)
		</div>
	</div>
	@if (shareByEmailEnabled)
	{
		Html.RenderPartial("_ShareByEmail_Partial", Model.Page);
	}
</div>
<div id="PageForm" class="PageForm">
	@Html.DisplayPageForm()
</div>

@if (Model.ViewMode)
{
	Html.RenderPartial("_ViewModeBottomPartial", Model);
}
else if (Model.EditMode)
{
	Html.RenderPartial("_EditModeBottomPartial", Model);
}
@if (Model.ShowEditPageLink)
{
	Html.RenderPartial("_EditLinkBottomPartial", Model);
}
