@model PageViewModel
@if (Model.ViewMode)
{
	Html.RenderPartial("_ViewModeTopPartial", Model);
}
else if (Model.EditMode)
{
	Html.RenderPartial("_EditModeTopPartial", Model);
}
@if (Model.ShowEditPageLink)
{
	Html.RenderPartial("_EditLinkTopPartial", Model);
}
<script>
	$(document).scroll(function () { parallax(); })
	function parallax() {
		var scrolled = $(window).scrollTop();
		$('.parallax').css('top', -(scrolled * .1) + 'px');
	}
</script>
<style>
	.parallax
	{
		position: fixed;
	}

	#CarouselSlide_1
	{
		background-image: url("/images/logo/wide.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		color: black;
	}

	#CarouselSlide_1 .carousel-caption
	{
		color: black;
	}

	#CarouselSlide_2
	{
		background-image: linear-gradient( black, darkred, black, darkred, black);
	}

	#CarouselSlide_3
	{
		background-image: radial-gradient( black, darkred, black, black);
	}

	#CarouselSlide_4
	{
		background-image: linear-gradient( darkblue, black, black, darkblue, darkblue, black, black, darkblue);
	}

	#CarouselSlide_5
	{
		background-image: radial-gradient( black, darkblue, black, black);
	}

	#CarouselSlide_6
	{
		background-image: linear-gradient(darkgreen, black, darkgreen, black);
	}

	#CarouselSlide_7
	{
		background-image: radial-gradient( black, darkgreen, black, black);
	}
</style>
<div class="jumbotron text-center">
	@Html.DisplayPageSection("AboveCarousel", 1, "Above Carousel", "", "<h1>", "</h1>", "", false, false)
	<div id="topCarousel" class="carousel slide cycle hidden-xs text-center" data-interval="@(Model.EditMode ? 0 : 10000)" data-ride="carousel" style="width: 100%; padding-left: 3em; padding-right: 3em;">
		<!-- Slide list-->
		<ol class="carousel-indicators">
			<li data-target="#topCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#topCarousel" data-slide-to="1"></li>
			<li data-target="#topCarousel" data-slide-to="2"></li>
			<li data-target="#topCarousel" data-slide-to="3"></li>
			<li data-target="#topCarousel" data-slide-to="4"></li>
			<li data-target="#topCarousel" data-slide-to="5"></li>
			<li data-target="#topCarousel" data-slide-to="6"></li>
		</ol>
		<div class="carousel-inner">
			<div id="CarouselSlide_1" class="item CarouselSlide active text-center" style="height: 400px; vertical-align: middle;">
				@Html.DisplayPageSection("CarouselSlide1", 2, "Carousel Slide 1", "<h1>Slide 1</h1>", "<h1>", "</h1>", "", false, false)
				<div class="carousel-caption">
					@Html.DisplayPageSection("CarouselCaptionSlide1", 3, "Carousel Caption Slide 1", "<p>this is Slide 1</p>", "<p>", "</p>", "", false, false)
				</div>
			</div>
			<div id="CarouselSlide_2" class="item CarouselSlide text-center" style="height: 400px; vertical-align: middle;">
				@Html.DisplayPageSection("CarouselSlide2", 4, "Carousel Slide 2", "<h1>Slide 2</h1>", "<h1>", "</h1>", "", false, false)
				<div class="carousel-caption">
					@Html.DisplayPageSection("CarouselCaptionSlide2", 5, "Carousel Caption Slide 2", "<p>this is Slide 2</p>", "<p>", "</p>", "", false, false)
				</div>
			</div>
			<div id="CarouselSlide_3" class="item CarouselSlide text-center" style="height: 400px; vertical-align: middle;">
				@Html.DisplayPageSection("CarouselSlide3", 6, "Carousel Slide 3", "<h1>Slide 3</h1>", "<h1>", "</h1>", "", false, false)
				<div class="carousel-caption">
					@Html.DisplayPageSection("CarouselCaptionSlide3", 7, "Carousel Caption Slide 3", "<p>this is Slide 3</p>", "<p>", "</p>", "", false, false)
				</div>
			</div>
			<div id="CarouselSlide_4" class="item CarouselSlide text-center" style="height: 400px; vertical-align: middle;">
				@Html.DisplayPageSection("CarouselSlide4", 8, "Carousel Slide 4", "<h1>Slide 4</h1>", "<h1>", "</h1>", "", false, false)
				<div class="carousel-caption">
					@Html.DisplayPageSection("CarouselCaptionSlide4", 9, "Carousel Caption Slide 4", "<p>this is Slide 4</p>", "<p>", "</p>", "", false, false)
				</div>
			</div>
			<div id="CarouselSlide_5" class="item CarouselSlide text-center" style="height: 400px; vertical-align: middle;">
				@Html.DisplayPageSection("CarouselSlide5", 10, "Carousel Slide 5", "<h1>Slide 5</h1>", "<h1>", "</h1>", "", false, false)
				<div class="carousel-caption">
					@Html.DisplayPageSection("CarouselCaptionSlide5", 11, "Carousel Caption Slide 5", "<p>this is Slide 5</p>", "<p>", "</p>", "", false, false)
				</div>
			</div>
			<div id="CarouselSlide_6" class="item CarouselSlide text-center" style="height: 400px; vertical-align: middle;">
				@Html.DisplayPageSection("CarouselSlide6", 12, "Carousel Slide 6", "<h1>Slide 6</h1>", "<h1>", "</h1>", "", false, false)
				<div class="carousel-caption">
					@Html.DisplayPageSection("CarouselCaptionSlide6", 13, "Carousel Caption Slide 6", "<p>this is Slide 6</p>", "<p>", "</p>", "", false, false)
				</div>
			</div>
			<div id="CarouselSlide_7" class="item CarouselSlide text-center" style="height: 400px; vertical-align: middle;">
				@Html.DisplayPageSection("CarouselSlide7", 14, "Carousel Slide 7", "<h1>Slide 7</h1>", "<h1>", "</h1>", "", false, false)
				<div class="carousel-caption">
					@Html.DisplayPageSection("CarouselCaptionSlide7", 15, "Carousel Caption Slide 7", "<p>this is Slide 7</p>", "<p>", "</p>", "", false, false)
				</div>
			</div>
		</div>
		<a class="carousel-control left" href="#topCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="carousel-control right" href="#topCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
	@Html.DisplayPageSection("BelowCarousel", 16, "Below Carousel", "", "<h2>", "</h2>", "", false, false)
</div>

<div class="row">
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row1Col1", 17, "Row 1 Column 1", "Row 1 Column 1", "<h2>", "</h2>", "", false, false)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row1Col2", 18, "Row 1 Column 2", "Row 1 Column 2", "<h2>", "</h2>", "", false, false)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row1Col3", 19, "Row 1 Column 3", "Row 1 Column 3", "<h2>", "</h2>", "", false, false)
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row2Col1", 20, "Row 2 Column 1", "Row 2 Column 1", "<h2>", "</h2>", "", false, false)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row2Col2", 21, "Row 2 Column 2", "Row 2 Column 2", "<h2>", "</h2>", "", false, false)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row2Col3", 22, "Row 2 Column 3", "Row 2 Column 3", "<h2>", "</h2>", "", false, false)
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row3Col1", 23, "Row 3 Column 1", "Row 3 Column 1", "<h2>", "</h2>", "", false, false)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row3Col2", 24, "Row 3 Column 2", "Row 3 Column 2", "<h2>", "</h2>", "", false, false)
	</div>
	<div class="col-sm-4">
		@Html.DisplayPageSection("Row3Col3", 25, "Row 3 Column 3", "Row 3 Column 3", "<h2>", "</h2>", "", false, false)
	</div>
</div>

@Html.DisplayPageForm()

@if (Model.ViewMode)
{
	Html.RenderPartial("_ViewModeBottomPartial", Model);
}
else if (Model.EditMode)
{
	Html.RenderPartial("_EditModeBottomPartial", Model);
}
@if (Model.ShowEditPageLink)
{
	Html.RenderPartial("_EditLinkBottomPartial", Model);
}
